.audits-principal {
  background-image: linear-gradient(307deg, #3a4e5b, #222e37)!important;
  height: auto!important;
}
.audits-principal .hiring-box a {
  background-color: rgba(0, 0, 0, 0.3)!important;
}

#audits h4 {
  font-size: 1.4em;
}
.reports h2 {
  color: white;
}
.reports i {
  margin-top: -4px;
}
.reports a h2 {
  display: flex;
  align-items: start;
}
.reports img {
  width: 95%;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.14), 0 0px 6px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
#leading-projects {
  background: linear-gradient(to top, #f7f7f8 0%,#f7f7f8 50%, #ffffff 50%,#ffffff 100%)!important;
}
#leading-projects .card {
  width: 45%;
}

#leading-projects .card h6 {
  font-family: "SourceLightItalic";
  font-size: 1.5em;
  line-height: 1.5;
  color: #283850;
}
#leading-projects .card h3 {
  font-family: "GenRegular";
  font-size: 1.5em;
  line-height: 1.5;
  color: #283850;
}
#leading-projects .card h3 .strong{
  font-weight: 900;
}