#jobs #principal, .job-opening {
  background: linear-gradient(to bottom right,#2F99D8, #3EBBE5)!important;
  height: 50vh;
}
#jobs .flex-box div {
  width: 27%;
}

.row.space {
  padding: 15px 0 10px 0;
  margin: 0 0 10px 0;
}
h2.row.values {
  margin: 0 0 5px 0;
  font-size: 1.1em;
}
#values h3, #remote-by-default h3 {
  font-size: 1.8em;
}
#values .flex-box div {
  margin: 30px 0;
}

/*how we work*/
#how-we-work {
  padding: 0 !important;
  height: 420px!important;
}
#how-we-work .img-box {
  margin-right: 0;
  padding: 0;
}
#how-we-work img {
  height: 420px;
}
#how-we-work .text-box {
  height: 100%!important;
  display: flex;
  flex-direction: column;
  justify-content: center!important;
}

/*current openings*/
#jobs .card a {
  font-family: 'SourceBlack';
  font-size: 1.07em;
  letter-spacing: 3px;
  display: flex;
  border-radius: 6px;
}
#jobs .card .card-action {
  width: 100%;
  border: white;
  display: flex;
  justify-content: flex-end;
  padding: 0 24px 24px 24px;
}
#jobs .card .card-content {
  padding: 24px 24px 0 24px;
} 
#jobs .card.darken-1 {
  margin: 1rem 0 1.5rem 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.05), 0 3px 1px -2px rgba(0, 0, 0, 0);
}
#jobs .card h6 {/*card subtitle*/
  font-family: 'DINPro-bold';
  font-size: 0.8em;
  line-height: 2em;
  color: #283850;
  letter-spacing: 2px;
}
#jobs .card h3 {/*titulos card*/
  font-family: 'DINPro-regular'; 
  font-size: 2.4em;
  margin: 2px 0;
  color: #283850;
  letter-spacing: 0 !important;
}
#jobs .card h4 {/*card text*/
  font-size: 1.5em;
  margin: 10px 0 0 0;
  color: #485568;
}
#jobs .card h5 {/*card text*/
  font-size: 1.1em;
  font-family: 'SourceRegular';
  font-style: italic;
  color: #7e8896;
  margin: 6px 0 0 0;
}
#jobs .card-action a {
  font-family: 'DINPro-bold';
  font-size: 1em;
  letter-spacing: 0.15em;
  color: #283850 !important;
}
#jobs .card-action i {
  font-size: 18px;
}

.role-title {
  margin-top: 60px;
}

.job-opening {
  min-height: auto!important;
  height: auto!important;
}
#job-openings {
  background: white;
  padding: 0 !important;
  margin-top: 42px !important;
}
#job-openings .back-link {
  font-family: 'DINPro-bold';
  font-size: 1em;
  letter-spacing: 0.15em;
  color: #283850 !important;
  text-transform: uppercase;
  display: flex;
  padding: 30px 0 0;
  position: relative;
}
#job-openings .back-link i {
  padding-right: 9px;
  top: -3px;
  position: relative;
}
#job-openings li {
  position: relative;
  padding: 0 22px 0;
}
#job-openings li:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #49586d;
  border-radius: 50%;
  left: 4px;
  top: 10px;
}
#job-openings .flex i {
  padding-right: 5px;
}

.process-section {
  padding-bottom: 70px;
}
#process {
  display: flex;
  align-items: center;
  justify-content: center;
}
#process p {
  font-size: 1.2em;
  line-height: 1.3em
  overflow-wrap: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
#process h2 {
  border: solid 1px;
  padding: 30px 33px;
  border-radius: 50px;
  background: #f7f7f8 !important;
  z-index: 1222;
}
#process div {
  text-align: center;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 186px;
  min-height: auto;
  position: relative;
  width: 200px;
}
#process .arrow {
  position: absolute;
  top: 60px;
  right: calc(-100px + 76px);
  z-index: 0;
}

span.openings {
  display: inline-flex;
  align-items: center;
}
span.openings h5{
  padding-left: 7px;
}
