---
---

/*MEDIA SIZE*/

@media (max-width: 900px) {
	#process, #audit-process { flex-direction: column; }
	#process div, #audit-process div { height: auto; }
	#audit-process p { margin-top: -8px; }
	.audit-triangle { height: auto !important; }
	#jobs .flex-box div { margin: 0 !important; width: 100%!important }
	.mobile-column { flex-direction: column; }
	#principal { background-image: linear-gradient(142deg, #0a0a0a, #1e1e28); }
}

@media (max-width: 800px) {
	#principal { height: auto; }
	#audits .card { width: 100% }
	#leading-projects .mobile-column { flex-direction: column; }
}

@media (max-width: 1035px) {
	#build .card { width: 100% }
	#build { padding: 30px 0; }
	#build .col { padding: 0 15px; }
	#build .mobile-column { flex-direction: column; }
}

@media (max-width: 600px) { /*Para monitores small*/
	body, #jobs, #about { font-size: 10.5px; }
	.valign-wrapper { height: auto!important; }
	section { padding: 30px 15px; }
	footer { padding: 30px 15px!important; }
	#principal { height: auto; }
  nav a { padding-right: 0px; padding-left: 0px; margin: 0; }
	.button-collapse { margin: 2px 0 !important; }
	nav ul a { color: white; }
	nav ul a:hover { line-height: 48px !important; }
	nav { height: 69px; }
	nav .button-collapse { margin: -6px !important; }
	.nav-wrapper { display: flex; align-items: center; justify-content: space-between;}
	.nav-wrapper .left a { padding: 0!important; display: flex; }
	.hiring-box { display: none; }
	.mobile-column { flex-direction: column; }
	.learn-more-box a { margin-top: 30px; margin-bottom: 30px; }
	.principal-quote .card-content { flex-direction: column; }
	.principal-quote .card h3 .strong { display: block; line-height: 2em; }

	#build .card { width: 100% }
	#build { padding: 30px 0; }
	#build .col { padding: 0 15px; }
	.learn-more-box { padding-bottom: 30px; }
	.learn-more-box p { width: 100%; }
	#jobs .flex-box div { width: 100%;}
	.reports img { width: 85%; margin: 15px; }
	span.openings { display: block; }
	span.openings h5{ padding-left: 0px; }
	#jobs .card .card-action { justify-content: center; padding: 24px; }
	.container {
		width: 100%;
		padding: 0 15px;
	}

}

@media (min-width: 600px) {
	nav .nav-wrapper {
    width: 75%;
    margin: auto;
    margin-top: 30px;
    padding: 0;
	}
}

@media (max-width: 1411px) {
	.leading-projects { width: 185px; }
}
