.audits-principal {
  background-image: linear-gradient(307deg, #3a4e5b, #222e37)!important;
  height: auto!important;
}
.audits-principal .hiring-box a {
  background-color: rgba(0, 0, 0, 0.3)!important;
}

#audits h4 {
  font-size: 1.4em;
}
.reports h2 {
  color: white;
}
.reports i {
  margin-top: -4px;
}
.reports a h2 {
  display: flex;
  align-items: start;
}
.reports img {
  width: 95%;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.14), 0 0px 6px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.audit-triangle {
  border-right-style: solid;
  border-right-color: white;
  border-top: 100px solid transparent;
  position: absolute!important;
  bottom: 0;
  z-index: 0;
  height: 182px;
}
.audit-triangle-div {
  position: relative;
  z-index: 2;
}
.triangle-row-padding {
  padding: 20px 15px;
}
.triangle-section-padding {
  padding: 0 !important;
}
#leading-projects {
  background: linear-gradient(to top, #f7f7f8 0%,#f7f7f8 50%, #ffffff 50%,#ffffff 100%)!important;
}
#leading-projects .centered {
    padding: 0 0 30px 0;
}
#leading-projects .card {
  width: 45%;
}
#leading-projects .card h6 {
  font-family: "SourceLightItalic";
  font-size: 1.5em;
  line-height: 1.5;
  color: #283850;
}
#leading-projects .card h3 {
  font-family: "DINPro-Regular";
  font-size: 1.5em;
  line-height: 1.5;
  color: #283850;
  display: flex;
}
#leading-projects .card h3 .strong{
  font-weight: 900;
  padding: 0 10px;
}
#leading-projects .card h3 img{
  height: 35px;
}
a.bold {/*h4 en bold*/
  font-family: 'DINPro-bold';
}


#audit-process {
  display: flex;
  align-items: center;
  justify-content: center;
}
#audit-process p {
  font-size: 1.1em;
  font-family: DINPro-medium;
  line-height: 1.3em;
  color:white;
  overflow-wrap: break-word;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  margin-top: 0;
}
#audit-process h2 {
  color: #2a3843;
  z-index: 1222;
  height: 40px;
  line-height: 40px;
  width: 95%;
  letter-spacing: 0;
  position: relative;
  background: #FFFFFF;
}
#audit-process .first h2:before{ 
  border-color: transparent white;
}
#audit-process h2:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 0 15px 7px;
  border-color: transparent #293640;
  display: block;
  width: 0;
  z-index: 1;
  left: 0;
  top: 5px;
}
#audit-process .last h2:after{ 
  border-color: transparent;
}
#audit-process h2:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 0 15px 7px;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  right: -6px;
  top: 5px;
}
#audit-process div {
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 186px;
  min-height: auto;
  position: relative;
  width: 159px;
}
.card-margin {
  margin: 25px 0 0 0;
}