.audits-principal {
  background-image: linear-gradient(307deg, #3a4e5b, #222e37)!important;
  height: auto!important;
}
.audits-principal .hiring-box a {
  background-color: rgba(0, 0, 0, 0.3)!important;
}

#audits h4 {
  font-size: 1.4em;
}
.reports h2 {
  color: white;
}
.reports i {
  margin-top: -4px;
}
.reports a h2 {
  display: flex;
  align-items: start;
}
.reports img {
  width: 95%;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.14), 0 0px 6px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.audit-triangle {
  border-right-style: solid;
  border-right-color: white;
  border-top: 100px solid transparent;
  position: absolute!important;
  bottom: 0;
  z-index: 0;
  height: 182px;
}
.audit-triangle-div {
  position: relative;
  z-index: 2;
}
.triangle-row-padding {
  padding: 20px 15px;
}
#leading-projects {
  background: linear-gradient(to top, #f7f7f8 0%,#f7f7f8 50%, #ffffff 50%,#ffffff 100%)!important;
}
#leading-projects .centered {
    padding: 0 0 30px 0;
}
#leading-projects .card {
  width: 45%;
}
#leading-projects .card h6 {
  font-family: "SourceLightItalic";
  font-size: 1.5em;
  line-height: 1.5;
  color: #283850;
}
#leading-projects .card h3 {
  font-family: "DINPro-Regular";
  font-size: 1.5em;
  line-height: 1.5;
  color: #283850;
  display: flex;
}
#leading-projects .card h3 .strong{
  font-weight: 900;
  padding: 0 10px;
}
#leading-projects .card h3 img{
  height: 35px;
}
a.bold {/*h4 en bold*/
  font-family: 'DINPro-bold';
}
.card-margin {
  margin: 25px 0 0 0;
}

#process div {
  width: 178px;
}

#audit-form .row .col {
  position: relative;
}
#audit-form .row .col input, #audit-form .row .col select, #audit-form .row .col textarea {
  margin-top: 1rem;
}

#audit-form button {
  background: transparent;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border: solid 2px #283850;
  border-radius: 3px;
  color: #283850;
  font-family: 'DINPro-bold';
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 2px;
}
#audit-form .back-btn {
  display: flex;
  width: auto!important;
  border: solid 0px transparent !important;
}