html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', -apple-system, BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #282846;
  background-color: white;
  font-size: 15px;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

html,
body,
div,
article,
aside,
section,
main,
nav,
footer,
header,
form,
fieldset,
legend,
pre,
code,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
figcaption,
figure,
textarea,
table,
td,
th,
tr,
input[type='email'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='text'],
input[type='url'] {
  box-sizing: border-box;
}

p {
  word-break: break-word;
}

/** Common Shared Styles **/

.container {
  width: 1280px;
  min-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

/** Grid **/

.grid {
  display: flex;
  flex-direction: column;
}

.grid > * {
  flex-grow: 1;
}

.grid > .row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col {
  flex: 1;
}

.grid .no-grow {
  flex-grow: 0;
}

/** UI Components **/

.btn {
  background: #4e5ee4;
  box-shadow: 0 4px 5px 0 rgba(203, 203, 203, 0.81);
  border-radius: 6px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

/** Sections **/

section.section .title {
  color: #282846;
}
