@font-face {
  font-family: 'silka';
  src: url('../fonts/silka-medium-webfont.eot');
  src: url('../fonts/silka-medium-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/silka-medium-webfont.woff2') format('woff2'),
    url('../fonts/silka-medium-webfont.woff') format('woff'),
    url('../fonts/silka-medium-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'silka';
  src: url('../fonts/silka-bold-webfont.eot');
  src: url('../fonts/silka-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/silka-bold-webfont.woff2') format('woff2'),
    url('../fonts/silka-bold-webfont.woff') format('woff'),
    url('../fonts/silka-bold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

html {
  font-size: 15px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: 'silka', 'Helvetica', -apple-system, BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #282846;
  background-color: white;
  font-size: 15px;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

p {
  word-break: break-word;
}

*,
:after,
:before {
  box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #4e5ee4;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** Common Shared Styles **/

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.container {
  width: 1080px;
  min-width: 1080px;
  margin: 0 auto;
  height: 100%;
}

/** Grid **/

.grid {
  display: flex;
  flex-direction: column;
}

.grid > * {
  flex-grow: 1;
}

.grid > .row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: 0%;
  max-width: 100%;
  flex-shrink: 1;
}

/** UI Components **/

.btn {
  background-color: #4e5ee4;
  box-shadow: 0 4px 5px 0 rgba(203, 203, 203, 0.81);
  border-radius: 6px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 0.9rem;
  min-width: 190px;
  transition: background-color 0.4s ease;
  font-weight: 600;
}

.btn:hover {
  cursor: pointer;
  background-color: #4351c5;
}

/** Sections **/

section.section .title {
  color: #282846;
}

/** Hero **/

/* Section: section-hero-jobs */
.section.section-hero-jobs {
  background-color: #f8f8fa;
}

.section .hero {
  height: 400px;
}

.section .hero .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.section .hero .cta {
  width: 250px;
  animation-delay: 1000ms;
}

.section .hero .wrapper {
  max-width: 700px;
}

.section .hero .heading {
  text-align: center;
  font-weight: bold;
  font-size: 1.9rem;
  margin-bottom: 30px;
}

.section .hero .description {
  font-size: 1.1rem;
  color: #2a2a47;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.8;
  font-weight: 300;
  letter-spacing: 0px;
  animation-delay: 700ms;
}

/** **/

@keyframes fId {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.fIu {
  opacity: 0;
  animation-name: fIu;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-delay: 500ms;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes fIu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fId {
  opacity: 0;
  animation-name: fId;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-delay: 500ms;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes fId {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/** Typography **/

.heading {
  text-align: center;
  font-weight: bold;
  font-size: 1.9rem;
  margin-bottom: 30px;
}

.description {
  font-size: 1.1rem;
  color: #2a2a47;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.8;
  font-weight: 300;
  letter-spacing: 0px;
}
