---
---

/*GENERAL*/

html, body, section {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  position: relative;
}
body, #jobs, #about {
  font-size: 13px;
}
section{
  position: relative;
  min-height: 300px;
  padding: 60px 0;
  overflow: hidden;
  text-align: left;
  width: 100%;
  margin: 0 !important;
}
button {
  outline: none;
}
a {
  cursor: pointer;
}
.container {
  width: 67%;
  z-index: 2;
  position: relative;
}
.hidden {
  display: none!important;
}
.centered {
  text-align: center;
}
h2.centered{
  margin: 60px 0 0 0;
  letter-spacing: 0.15em;
}
.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  height: 100%!important;
}
.valign-wrapper .valign {
  display: block;
  text-align: center;
}
.row {
  width: 100%;
}
.no-margin {
  margin: 0.2rem!important;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.display-flex {
  display: flex;
  justify-content: center;
}
.collapsible {
  border: solid 0 transparent !important; 
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0)!important;
  max-width: 720px;
  margin: auto;
}
.collapsible li {
  border-bottom: solid 1px #d5d5d5;
}
.collapsible-header, .collapsible-body {
  background-color: transparent !important;
  border: solid 0 transparent !important; 
  padding: 0;
}
.collapsible-body {
  margin-top: 0;
}
.collapsible-header {
  font-family: Helvetica;
  font-size: 1.25em;
  line-height: 1;
  margin: 27px 0 0 0;
  color: #4a4a4a;
  text-align: left;
}
.container {
  width: 67%;
  margin: auto;
  padding: 0;
}
.white-color {
  color: white!important;
}

/*TEXT*/
/*Hero titles*/
h1 {
  font-size: 2.8em;
  margin: 4rem 0 1rem 0;
  font-family: Helvetica;
}
/*Titulo de seccion grande*/
h2 {
  font-family: Helvetica;
  font-size: 28px;
  font-weight: 300;
  color: #3c3c3c;
  margin-top: 0;
}

h2.small {
  font-size: 25px;
  color: #3c3c3c;
}

/*Titulo de seccion chico*/
h3 {
  font-family: Helvetica;
  font-size: 21px;
  line-height: 1.33;
  text-align: center;
  color: #4a4a4a;
  opacity: 0.9;
}
/*Titulo chico mayuscula espaciado*/
h4 {
  font-family: Helvetica;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase;
  color: #3c3c3c;
}

p.middle {
  font-family: Helvetica;
  line-height: 1.6;
  text-transform: none;
  color: white;
  font-size: 16px;
}

p.middle-grey {
  font-family: Helvetica;
  line-height: 1.6;
  text-transform: none;
  color: #4a4a4a;
  font-size: 16px;
}

p.regular {
  opacity: 0.8;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #4a4a4a;
}
blockquote {
  border-left-style: solid;
  border-width: 4px;
  border-image-source: linear-gradient(to bottom, rgba(36, 92, 205, 0.68), rgba(42, 55, 194, 0.93));
  border-image-slice: 1;
}
p.small, blockquote.small {
  opacity: 0.8;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.7;
  color: #4a4a4a;
}
p.x-small {
  opacity: 0.8;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  line-height: 1.33;
  color: #4a4a4a;
}

p.short, h3.short {
  max-width: 600px;
}
p.shorter {
    max-width: 439px;
}
p.extra-short {
  max-width: 357px;
}
p.long {
  max-width: 750px;
}
p.blue {
  color: #00298c;
  opacity: 1;
  background: transparent!important;
}
p a {
  font-weight: bold;
  text-decoration: none;
  color: inherit !important;
}

/*DROPDOWN*/
.dropdown-box {
  display: flex !important;
  align-items: center;
  padding: 15px;
}
.dropdown-box p {
  margin: 0 15px;
  font-size: 0.9em;
}
.dropdown-box p.title {
  color: #283850;
}
.dropdown-box img {
  width: 36px;
}
.dropdown-box img.little {
  width: 20px;
}
.projects-dropdown img.little {
  margin: 0 13px;
}  
.projects-dropdown .tpl {
  padding: 7px 15px;
} 
.dropdown-content {
  border-radius: 4px;
  box-shadow: -2px 4px 12px 0 rgba(0, 0, 0, 0.2);
}
.dropdown-content li > a, .dropdown-content li > span {
  color: #283850!important;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.nav-dropdown-container {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 410px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 3;
  left: 50%;
  background: white;
  white-space: nowrap;
  padding: 0;
  border-radius: 4px;
}
.nav-dropdown-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: white;
  border-top: 0;
  margin-left: -10px;
  margin-top: -10px;
}
.dropdown:hover .nav-dropdown-container {
  display: block;
}
.nav-dropdown-container li {
  width: 100%;
  border-radius: 4px;
}
.nav-dropdown-container li a {
  border-radius: 4px;
}
.projects-dropdown {
  margin-left: -205px;
}
.services-dropdown {
  margin-left: -251px;
}
.learn-dropdown {
  margin-left: -232px;
}
.company-dropdown {
  margin-left: -80px;
}

/*BACKGROUNDS*/
.grey {
  background: #f7f7f8 !important;
}

/*HOME*/
#principal {
  background-image: linear-gradient(106deg, #0a0a0a, #282828);
  height: auto;
  color: white;
  padding: 0;
  margin: 0;
  min-height: 480px;
}

#principal section {
  padding: 96px 0;
}
#home {
  height: calc(100% - 50px) !important;
  color: white;
}
#home h5 {
  margin-top: 50px;
}
.home-title {
  color: white;
  font-size: 30px;
  letter-spacing: 0.02em;
  margin: 0 0 1.5rem;
  font-weight: 300;
  line-height: 1.3;
}
.security-home .home-title {
  max-width: 420px;
}

/*BLOCKCHAINS*/
#blockchains {
  padding-bottom: 0px;
  min-height: auto;
}

/*BUILD*/
#build {
  position: relative;
  z-index: 0;
  background: linear-gradient(to top, #ffffff 0%,#ffffff 30%,#f7f7f8 30%,#f7f7f8 100%)!important;
} 
#build .card {
  width: 48%;
}
#build .card-action a {
  font-size: 1.07em;
  color: #4f7fb5;
  letter-spacing: 3px;
  display: flex;
}
#build .card .card-content {
  margin-bottom: 50px;
  padding: 20px 26px 0 26px;
}
#build .card .card-action {
  bottom: 0;
  position: absolute;
  width: 100%;
  border: white;
}
#build i, #jobs .card i, .reports i {
  transform: rotate(180deg);
  padding-right: 5px;
}
#build .site-link {
  line-height: 24px;
  margin-right: 0px;
}
#build h4 {/*titulos card*/
  font-size: 2.4em;
  color: #4F7FB5;
}
#build h5 {/*card text*/
  font-size: 1.2em;
  line-height: 1.7em;
  color: #4F7FB5;
}
#build h6 {/*card subtitle*/
  font-size: 0.85em;
  line-height: 2em;
  color: #83A5CB;
  letter-spacing: 3px;
}

/*LEARN MORE*/
.learn-more-box {
  align-items: center!important;
}
.learn-more-box p{
  width: calc(100% - 150px);
}
.learn-more-box a {
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  line-height: 30px;
  color: #4f7fb5;
}
.learn-more-box a:hover {
  font-size: 1.11em;
  color: #466d98;
}
.row.valign {
  padding: 30px 0 0 0;
}



/*Compartidas*/
.request-audit-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.request-audit-container .img-box {
  width: 50%;
  text-align: center;
}
.request-audit-container img {
  margin: 34px 0;
}
@media (max-width: 900px) {
  .request-audit-container {
    justify-content: center;
  }
  .request-audit-container .img-box {
    width: 100%;
  }
}

.job-opening.hero-background:before {
  background: url(/images/bg_triangle_jobs.svg);;
}
