@font-face {
  font-family: 'DINPro-Regular';
  src: url('../fonts/DINPro-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'DINPro-Light';
  src: url('../fonts/DINPro-Light.ttf') format('opentype');
}
@font-face {
  font-family: 'DINPro-Medium';
  src: url('../fonts/DINPro-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'DINPro-Bold';
  src: url('../fonts/DINPro-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'SourceRegular';
  src: url('../fonts/SourceSansPro-Regular.ttf') format('opentype');
}
@font-face {
  font-family: 'SourceBold';
  src: url('../fonts/SourceSansPro-Bold.ttf') format('opentype');
}
@font-face {
  font-family: 'SourceBlack';
  src: url('../fonts/SourceSansPro-Black.ttf') format('opentype');
}
@font-face {
  font-family: 'SourceLightItalic';
  src: url('../fonts/SourceSansPro-LightItalic.ttf') format('opentype');
}


/*GENERAL*/

html, body, section {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
body, #jobs, #about {
  font-size: 13px;
}
section{
  position: relative;
  min-height: 300px;
  padding: 30px 0;
  overflow: hidden;
  text-align: left;
  margin: 0 !important;
}
button {
  outline: none;
}
a {
  cursor: pointer;
}
.container {
  width: 100%;
}
.hidden {
  display: none!important;
}
.centered {
  text-align: center;
}
h2.centered{
  margin: 60px 0 0 0;
  letter-spacing: 0.15em;
}
.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  height: 100%!important;
}
.valign-wrapper .valign {
  display: block;
  text-align: center;
}
.row {
  width: 100%;
}
.no-margin {
  margin: 0!important;
}
.flex {
  display: flex;
  align-items: center;
}

/*TEXT*/
h1 {
  font-size: 2.8em;
  color: #283850;
  font-family: 'DINPro-Regular';
  margin: 4rem 0 1rem 0;
}
h2 {
  font-size: 1.2em;
  letter-spacing: 0.2em;
  color: #283850;
  text-transform: uppercase;
  font-family: 'SourceBold';
}
p {
  font-size: 20px;
  line-height: 1.5em;
  font-family: 'DINPro-Regular';
  color: #6e7886;
}
p a {
  color: #6e7886;
}
h3 {/*h1 mas chiquito*/
  font-size: 2.1em;
  color: #283850;
  font-family: 'DINPro-Light';
}
h4{/*p mas chiquito*/
  font-size: 1.3em;
  line-height: 1.45em;
  font-family: 'DINPro-regular';
  color: #6e7886;
}

h4 a {
  font-size: 1em;
  line-height: 1.8em;
  font-family: 'SourceRegular'; 
  color: #6e7886;
}
p.text-bold {
  font-size: 1.8em;
  line-height: 1.5em;
  font-family: 'DINPro-medium';
  color: #293950;
}
/*NAVBAR*/
nav {
  height: 50px;
  background: transparent;
  color: white;
  font-family: 'SourceRegular';
  font-size: 16px;
  border: 0px transparent;
  -webkit-box-shadow: 0 0 0 0 rgba(255,255,255,1);
  -moz-box-shadow: 0 0 0 0 rgba(255,255,255,1);
  box-shadow: 0 0 0 0 rgba(255,255,255,1);
}
nav a {
  color: white;
  height: 100%;
  line-height: 50px;
  padding-right: 15px!important;
  padding-left: 15px!important;
}
.nav-wrapper {
  padding-left: 30px;
  padding-right: 15px;
}
.fa-bars {
  font-size: 26px !important;
}
#mobile-nav {
  background: white;
}
#mobile-nav a {
  color: #283850;
}
#mobile-nav li {
  height: 50px !important;
}
.side-nav {
  width: 100%;
}
.close-link {
  float: right;
  padding: 0 10px;
  color: #f6f6f6;
}
nav .dropdown-button {
  display: inline-flex;
  align-items: center;
  font-family: 'DINPro-regular';
  text-transform: none;
  font-size: 18px;
  padding: 0 15px;
  cursor: pointer;
}

nav i.material-icons {
  font-size: 1em;
}

nav .button-collapse {
  float: right !important;
}
.brand-box {
  width: 168px;
}
.brand-box img {
  height: 30px;
}
.brand-box, .hiring-box {
  height: 65px;
}
.brand-box a, .hiring-box {
  display: flex;
  align-items: center;
}
nav ul a:hover {
  background-color: inherit !important;
  opacity: 0.6;
}
.brand-box a:hover{
  background: transparent;
}
.hiring-box a {
  font-family: 'SourceSemiBold';
  color: white;
  font-size: 1em;
  background: #1b7ac2;
  border-radius: 50px;
  height: 31px;
  line-height: 31px;
  padding: 0;
  padding: 0 18px !important;
}

/*DROPDOWN*/
.dropdown-box {
  display: flex !important;
  align-items: center;
  padding: 15px;
}
.dropdown-box p {
  margin: 0 15px;
  font-size: 0.9em;
}
.dropdown-box p.title {
  font-family: 'DINPro-Bold';
  color: #283850;
}
.dropdown-box img {
  width: 56px;
}
.dropdown-content {
  border-radius: 4px;
  box-shadow: -2px 4px 12px 0 rgba(0, 0, 0, 0.2);
}
.dropdown-content li > a, .dropdown-content li > span {
  color: #283850!important;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.nav-dropdown-container {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  left: 50%;
  background: white;
  white-space: nowrap;
  padding: 0;
  border-radius: 4px;
}
.nav-dropdown-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: white;
  border-top: 0;
  margin-left: -10px;
  margin-top: -10px;
}
.dropdown:hover .nav-dropdown-container {
  display: block;
}
.nav-dropdown-container li {
  width: 100%;
  border-radius: 4px;
}
.nav-dropdown-container li a {
  border-radius: 4px;
}
.nav-dropdown-container {
  padding: 10px;
}

.projects-dropdown {
  margin-left: -244px;
}
.services-dropdown {
  margin-left: -251px;
}
.learn-dropdown {
  margin-left: -232px;
}
.company-dropdown {
  margin-left: -80px;
}

/*BACKGROUNDS*/
.grey {
  background: #f7f7f8 !important;
}
.white-to-grey {
  background: linear-gradient(to bottom, white , #f7f7f8);
}

/*HOME*/
#principal {
  background: linear-gradient(to bottom right, #0a2a5a , #3d9af1);
  height: 70vh;
  color: white;
  padding: 0;
  margin: 0;
  min-height: 480px;
}
#home {
  height: calc(100% - 50px) !important;
  color: white;
}
#home h5 {
  margin-top: 50px;
}
.home-title {
  color: white;
  font-family: 'DINPro-Bold';
  font-size: 30px;
  letter-spacing: 0.02em;
  margin: 3rem 0;
}
.home-slogan {
  font-family: 'DINPro-Regular';
  font-size: 22px;
  text-transform: none;
  color: white;
}
.home-slogan a {
  font-family: 'DINPro-Bold';
  text-decoration: underline;
  text-underline-position: under;
  color: white;
}
p.home-slogan.bold {/*p en bold*/
  font-size: 1.7em;
  line-height: 1.5em;
  font-family: 'DINPro-Bold';
  color: #ffffff;
}

/*BLOCKCHAINS*/
#blockchains {
  padding-bottom: 0px;
  min-height: auto;
}

/*BUILD*/
#build {
  position: relative;
  z-index: 0;
  background: linear-gradient(to top, #ffffff 0%,#ffffff 30%,#f7f7f8 30%,#f7f7f8 100%)!important;
} 
#build .card {
  width: 48%;
}
#build .card a {
  font-family: 'DINPro-Bold';
  font-size: 1.07em;
  color: #4f7fb5;
  letter-spacing: 3px;
  display: flex;
}
#build .card .card-content {
  margin-bottom: 50px;
  padding: 20px 26px 0 26px;
}
#build .card .card-action {
  bottom: 0;
  position: absolute;
  width: 100%;
  border: white;
}
#build i, #jobs .card i, .reports i {
  transform: rotate(180deg);
  padding-right: 5px;
}
#build .site-link {
  line-height: 24px;
}
.triangle {
  border-right-style: solid;
  border-right-color: transparent;
  border-top: 100px solid #f7f7f8;
  position: absolute!important;
  bottom: calc(30% - 100px)!important;
  z-index: -1;
}
#build h4 {/*titulos card*/
  font-family: 'DINPro-Medium';
  font-size: 2.4em;
  color: #4F7FB5;
}
#build h5 {/*card text*/
  font-family: 'DINPro-Regular';
  font-size: 1.2em;
  line-height: 1.7em;
  color: #4F7FB5;
}
#build h6 {/*card subtitle*/
  font-family: 'SourceBlack'; 
  font-size: 0.85em;
  line-height: 2em;
  color: #83A5CB;
  letter-spacing: 3px;
}

/*LEARN MORE*/
.learn-more-box {
  align-items: center!important;
}
.learn-more-box p{
  width: calc(100% - 150px);
}
.learn-more-box a {
  font-family: 'DINPro-Bold';
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  line-height: 30px;
  color: #4f7fb5;
}
.learn-more-box a:hover {
  font-size: 1.11em;
  color: #466d98;
}
.row.valign {
  padding: 30px 0 0 0;
}

/*NUMBERS*/
.numbers {
  font-family: 'SourceRegular';
  font-size: 4em;
  color: rgba(40, 56, 80, 0.7);
  margin-bottom: 0px;
  line-height: 1em;
}

/*QUOTE*/
div.card.darken-1 {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.05), 0 3px 1px -2px rgba(0, 0, 0, 0);
  margin: 2rem 0 1rem 0;
}

/*FOOTER*/
#footer {
  background: #283850;
  color: white;
  padding: 25px 0 60px;
  margin-bottom: 0;
}
#footer a, #footer h2 {
  display: block;
  color: rgba(255, 255, 255, 0.8);
  line-height: 30px;
  font-size: 1.2em;
}
#footer a:hover, #footer h2:hover {
  color: rgba(255, 255, 255, 1);
}
#footer h2 {
  margin: 1.8rem 0 10px 0;
}
#footer p {
  font-size: 1.2em;
}
.social-media-box {
  display: flex;
}
.social-media-box img {
  padding: 0 5px;
  height: 20px;
}
.footer-box, .flex-box {
  display: flex;
  justify-content: space-between;
}

/*LEADING PROJECTS*/
.leading-projects {
  height: 100px;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
}
.leading-projects img {
  max-width: 230px;
  width: 60%;
  margin: 20px auto;
  display: block;
  text-align: center;
}
.leading-projects .kik {
  width: 32%;
}
.leading-projects .truebit {
  width: 50%;
  margin-top: 15px;
}
.leading-projects .eth-classic {
  width: 70%;
  margin-top: 28px;
}
.leading-projects .bitgo, .leading-projects .cosmos,  .leading-projects .status {
  margin: 25px auto;
}
.leading-projects .dfinity, .leading-projects .shapeshift, .leading-projects .storj {
  margin: 13px auto;
}

/*LEADING QUOTE*/
.principal-quote {
  background: linear-gradient(to bottom, #f7f7f8 0%,#f7f7f8 50%, #283850 50%,#283850 100%)!important;
  min-height: inherit;
}
.principal-quote .card-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.principal-quote img {
  height: 100px;
}
.principal-quote .card {
  max-width: 713px;
  margin: auto;
}
.principal-quote .card h6 {
  font-family: "SourceLightItalic";
  font-size: 1.7em;
  line-height: 1.5;
  color: #283850;
}
.principal-quote .card h3 .strong {
  font-weight: 900;
  padding: 0 10px;
  font-size: 1.5em;
}
.principal-quote .card h3 {
  font-size: 1.2em;
}

/*------------ABOUT----------*/
.about-principal {
  background: linear-gradient(rgba(5, 46, 158, 0.4), rgba(5, 46, 158, 0.4)), linear-gradient(247deg, #2cace0, #0e64c5)!important;
  height: 80vh!important;
}
#about-contacts {
  display: flex;
  align-items: center;
} 
#about-contacts a {
  color: #283850;
  font-weight: bold;
}
.row.space {
  padding: 60px 0 10px 0;
  margin: 0;
}
.space {
  padding: 10px 0 10px 0;
  margin: 0;
}
.core-team-box {
  height: 200px;
  width: 30%;
  min-width: 150px;
  display: inline-block;
  vertical-align: middle;
}
.core-team-img {
  height: 85px !important;
  width: 85px !important;
}
.role-title {
  margin-top: 60px;
}
