/** Terminal **/

.type-wrap span {
  word-break: break-all;
}

.type-wrap > div {
  width: 100%;
  word-break: break-word;
  white-space: normal;
}

.tc-green {
  color: #87cc37;
}

.tc-violet {
  color: #9ba7ff;
}

.tc-rose {
  color: #b991b2;
}

.tc-strong {
  font-weight: 600;
}

.tc-gray {
  color: rgb(204, 204, 204);
}

.terminal-title {
  color: whitesmoke;
  font-size: 14px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  position: absolute;
  top: 8px;
  font-size: 13.5px;
  left: 0;
  right: 0;
  text-align: center;
}

.terminal-section {
  margin-bottom: 30px;
  position: relative;
  height: 400px;
  z-index: 500;
}

.expanded-terminal-section {
  margin-bottom: 30px;
  position: relative;
}

.terminal {
  border: 1px solid #4a4a4a;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 448px;
  height: 400px;
  position: relative;
  background-color: black;
  margin: auto;
  position: absolute;
  top: 0px;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.2);
}

.terminal.browser {
  border: 1px solid #f8f8fa;
  background-color: #f8f8fa;
}

.terminal.browser .top-terminal {
  background: #f8f8fa;
  border-bottom: 1px solid rgb(238, 238, 238);
  box-sizing: border-box;
  border-right: 0;
  color: rgb(29, 29, 29);
}

.terminal.browser .terminal-title {
  color: #616161;
}

.terminal.browser .terminal-box {
  /* background-color: #f8f8fa; */
  /* box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025); */
  border-radius: 6px;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.terminal.browser .terminal-box svg {
  transform: scale(1.2);
}

.mobile-br {
  display: none;
}

#terminal-sdk {
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 960px) {
  .terminal-center {
    transition: top 0.4s;
    -webkit-transition: top 0.4s;
  }

  .terminal-right {
    top: 346px !important;
    transition: top 0.4s !important;
    -webkit-transition: top 0.4s !important;
  }

  .terminal-section {
    height: 400px;
  }
  .expanded-terminal-section {
    height: 740px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #terminal {
    z-index: 30;
    top: 0px;
    left: calc(50% - 224px);
  }
  #terminal2 {
    z-index: 1;
    top: 0px;
    left: calc(50% - 224px);
  }
}

@media (max-width: 767px) {
  .mobile-br {
    display: inline;
  }
  .desktop-br {
    display: none;
  }

  #terminal {
    z-index: 30;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
  }

  #terminal2 {
    z-index: 1;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
  }
}

@media (min-width: 960px) {
  #terminal {
    z-index: 30;
    left: calc(50% - 225px);
  }
  #terminal2 {
    z-index: 1;
    right: calc(50% - 480px) !important;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in !important;
    transition: opacity 0.4s ease-in !important;
  }
  .terminal-center {
    transition: left 0.4s;
    -webkit-transition: left 0.4s;
    transition: right 0.4s;
    -webkit-transition: right 0.4s;
  }
  .terminal-left {
    left: calc(50% - 480px) !important;
    transition: left 0.4s !important;
    -webkit-transition: left 0.4s !important;
  }
  .terminal-right {
    opacity: 1 !important;
    transition: right 0.4s !important;
    -webkit-transition: right 0.4s !important;
  }
}

.top-terminal {
  z-index: 2;
  width: calc(100% + 2px);
  height: 29px;
  position: absolute;
  top: -2px;
  left: -1px;
  text-align: left;
  padding-left: 7px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background: linear-gradient(90deg, rgb(34, 37, 39), rgb(45, 49, 51));
  border-bottom: 1px solid rgb(57, 66, 73);
  box-sizing: border-box;
  border-right: 0;
  color: white;
}

.terminal-control {
  content: '';
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 100%;
  margin-left: 5px;
  margin-top: 9px;
  border: solid 1px;
}
.red {
  background-color: rgb(225, 89, 84);
  border-color: rgb(225, 89, 84);
}
.yellow {
  background-color: rgb(253, 189, 46);
  border-color: rgb(224, 169, 61);
}
.green {
  background-color: rgb(40, 202, 64);
  border-color: rgb(58, 181, 75);
}
.bottom-terminal {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  overflow: auto;
}
.vim-bottom-terminal {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.centered {
  text-align: center;
}
.wrap {
  width: 100%;
  text-align: left;
}

#typed {
  background-color: black;
  text-align: left !important;
}

.type-wrap {
  /* display: flex;
  flex-direction: column; */
  overflow: hidden;
  background-color: black;
  font-size: 14px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  line-height: 19px;
  margin: 0;
  font-weight: 100;
  white-space: nowrap;
  color: white;
  text-align: left;
  margin-left: 13px;
  padding-top: 35px;
}
.terminal-padding {
  margin-left: 10px;
  padding-left: 10px;
}
.terminal-padding2 {
  margin-left: 20px;
  padding-left: 20px;
}
.typed-cursor {
  opacity: 1;
  color: #a5def2;
  font-weight: bold !important;
}

.valign-wrapper-logo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.valign-wrapper-logo .valign {
  display: block;
}

@media (max-width: 767px) {
  .terminal {
    width: 400px !important;
  }
  .terminal#terminal-sdk {
    transform: translateX(-50%) scale(0.8);
  }
  .terminal span {
    max-width: 400px !important;
  }
  .npm-install {
    width: 400px !important;
  }
  .vim-bottom-terminal {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
}

@media (min-width: 700px) {
  .terminal {
    height: 365px;
  }

  .term-container {
    height: 300px;
  }
}
