<style type="text/css">
  .augur-quote .card {
    width: 51%;
    box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
    background-image: url(/images/ic_augur.svg);
    background-repeat: no-repeat;
    background-position: 113% 72%;
    background-size: 24% 45%;
  }

  @media (max-width: 900px) {
    .augur-quote .card {
      width: 100%;
    }
  }
  .augur-quote .card h6 {
    opacity: 0.8;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 300;
    font-style: oblique;
    line-height: 1.67;
    color: #3c3c3c;
  }
  .augur-quote .card h3 {
    opacity: 0.8;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 2.14;
    color: #3c3c3c;
    text-align: left;
    display: flex;
    align-items: center;
  }
  .augur-quote .card h3 .strong{
    font-weight: 900;
  }
  .augur-quote .card .name {
    padding: 0 10px;
    line-height: 1.5;
  }
  .augur-quote .card .name p {
    line-height: 1;
  }
  .augur-quote .card h3 img{
    height: 30px;
  }
  .augur-quote .card-margin {
    margin: 25px 0 0 0;
  }
</style>


<div class="flex-box mobile-column container augur-quote" style="justify-content: center;">
  <div class="card darken-1">
    <div class="card-content">
      <div>
        <h6>“Zeppelin's audit report was like Christmas morning for all the engineers. Our team is very pleased with the results.”</h6>
        <h3 class="card-margin">
          <img class="circle responsive-img" src="../images/tom.jpg" alt="Tom Kysar">
          <div class="name">
            <span class="strong">Tom Kysar </span>
            <p><span>Product Manager at Augur</span></p>
          </div>
        </h3>
      </div>
    </div>
  </div>
</div>