<style type="text/css">
  .featured-box {
    height: 50px;
    width: 150px;
    display: inline-block;
    vertical-align: middle;
  }
  .featured-box img {
    max-width: 230px;
    width: 60%;
    display: block;
    text-align: center;
    margin: auto
  }
  .featured-box .cnbc {
    width: 31%;
    margin-top: -8px;
  }
  .featured-box .binsider {
    width: 46%;
    margin-top: -7px;
  }
</style>

<br/>
<div class="container centered valign-wrapper">
  <div class="row valign platforms">
    <span class="featured-box">
      <img src="../images/sponsors/featured_01.png" />
    </span>
    <span class="featured-box">
      <img class="cnbc" src="../images/sponsors/featured_02.png" />
    </span>
    <span class="featured-box">
      <img src="../images/sponsors/featured_03.png" />
    </span>
    <span class="featured-box">
      <img class="binsider" src="../images/sponsors/featured_04.png" />
    </span>
  </div>
</div>