<style>
  #footer {
    background: black;
    color: white;
    padding: 25px 0 60px;
    margin-bottom: 0;
  }
  #footer a {
    display: block;
    font-family: Helvetica;
    font-size: 1.1em;
    opacity: 0.6;
    line-height: 2.4;
    color: #ffffff;
  }

  #footer img {
    height: 23px;
    margin-top: 21px;
    padding-right: 40px;
  }

  #footer h3 {
    display: block;
    font-family: Helvetica;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.88;
    color: #ffffff;
    text-transform: none;
    margin-bottom: 10px;
    text-align: left;
  }
  #footer a:hover {
    opacity: 1;
  }
  .footer-box, .flex-box, .link-box {
    display: flex;
    justify-content: space-between;
  }
  .link-box, .footer-box {
    flex-wrap: wrap;
  }
  .link-box div{
    width: 130px;
  }
  @media (max-width: 900px) {
    footer img { margin-bottom: 30px; }
  }
  .no-opacity {
    opacity: 1!important;
  }

</style>

<footer class="row" id="footer">
  <div class="footer-box container mobile-column">
    <div>
      <a href="/" class="no-opacity"><img src="/images/zeppelin_logo_footer.svg"/></a>
    </div>
    <div class="link-box">
      <div>
        <h3>Projects</h3>
        <a href="https://openzeppelin.org/" target="_blank">OpenZeppelin</a>
        <a href="https://zeppelinos.org/" target="_blank">ZeppelinOS</a>
      </div>
      <div>
        <h3>Services</h3>
        <a href="/security-audits/">Security Audits</a>
      </div>
      <div>
        <h3>Company</h3>
        <a href="/about/">About Us</a>
        <a href="/jobs/">Jobs</a>
      </div>
      <div>
        <h3>Community</h3>
        <a href="https://forum.zeppelin.solutions" target="_blank">
          Forum
        </a>
        <a href="https://blog.zeppelin.solutions/" target="_blank">
          Blog
        </a>
        <a href="https://twitter.com/ZeppelinOrg" target="_blank">
          Twitter
        </a>
      </div>
    </div>
    <div>

    </div>
  </div>
</footer>
