<head>
  <title>Zeppelin</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Twitter card  -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@ZeppelinOrg" />
  <meta name="twitter:creator" content="@ZeppelinOrg" />
  <meta name="twitter:description" content="Zeppelin: infrastructure for decentralized systems" />
  <meta name="twitter:title" content="Zeppelin" />
  <meta name="twitter:image" content="https://zeppelin.solutions/images/card.jpg" />
  
  <!-- Opengraph card (WhatsApp & others)  -->
  <meta property="og:title" content="Zeppelin" />
  <meta property="og:description" content="Zeppelin: infrastructure for decentralized systems" />
  <meta property="og:url" content="https://zeppelin.solutions/" />
  <meta property="og:site_name" content="Zeppelin" />
  <meta property="og:image" content="./images/card.jpg" />
  <meta property="og:image:secure_url" content="./images/card.jpg" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="300" />
  
  <meta name="description" content="Zeppelin: infrastructure for decentralized systems">

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ "/images/favicon/apple-icon-57x57.png" | absolute_url }}"/>
  <link rel="apple-touch-icon" sizes="60x60" href="{{ "/images/favicon/apple-icon-60x60.png" | absolute_url }}"/>
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "/images/favicon/apple-icon-72x72.png" | absolute_url }}"/>
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "/images/favicon/apple-icon-76x76.png" | absolute_url }}"/>
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "/images/favicon/apple-icon-114x114.png" | absolute_url }}"/>
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "/images/favicon/apple-icon-120x120.png" | absolute_url }}"/>
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "/images/favicon/apple-icon-144x144.png" | absolute_url }}"/>
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "/images/favicon/apple-icon-152x152.png" | absolute_url }}"/>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/images/favicon/apple-icon-180x180.png" | absolute_url }}"/>
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ "/images/favicon/android-icon-192x192.png" | absolute_url }}"/>
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/images/favicon/favicon-32x32.png" | absolute_url }}"/>
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "/images/favicon/favicon-96x96.png" | absolute_url }}"/>
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/images/favicon/favicon-16x16.png" | absolute_url }}"/>
  <link rel="manifest" href="{{ "/images/favicon/manifest.json" | absolute_url }}"/>
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">


  <meta charset="UTF-8"> <!--Encoding -->
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!--Movile first -->

  <!--JQuery -->
  <script src="{{ "/js/jquery.min.js" | absolute_url }}"></script><!--JQuery 1.11.2 local -->
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
  <script type="text/javascript" src="{{ "/js/home.js" | absolute_url }}"></script>
  <script type="text/javascript" src="{{ "/js/materialize.min.js" | absolute_url }}"></script>
  
  
  
  <link rel="stylesheet" href="{{ "/css/responsive.css" | absolute_url }}">
  <link rel="stylesheet" href="{{ "/css/animate.css" | absolute_url }}">
  <link rel="stylesheet" href="{{ "/css/materialize.min.css" | absolute_url }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | absolute_url }}">
  

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67327037-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-67327037-1');
  </script>
</head>