<style type="text/css">

  #hiring-process {
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
  }

  #hiring-process:before {
    content: '';
    position: absolute;
    top: -7px;
    width: 86%;
    max-width: 950px;
    height: 1px;
    background: #4E5EE4;
  }

  #hiring-process p {
    opacity: 0.8;
    line-height: 1.25;
    text-align: center;
    overflow-wrap: break-word;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    margin-top: 0;
    padding: 0 15px;
		font-size: 0.88rem;
		color: #282846;
		text-align: center;
		line-height: 16px;
		font-family: Helvetica, sans-serif;
  }

  #hiring-process h2 {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.3;
    text-align: center;
    color: #4E5EE4;
    margin: 7px 0 5px;
		letter-spacing: 0.54px;
  }

  #hiring-process div {
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 130px;
    min-height: auto;
    position: relative;
    width: 159px;
  }

  #hiring-process div:before {
    content: '';
    position: absolute;
    top: -11px;
    width: 9px;
    height: 9px;
    background-color: #4E5EE4;
    border-radius: 8px;
  }

  @media (max-width: 900px) {
    #hiring-process {
      flex-direction: column;
    }

    #hiring-process:before {
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
      height: 96.5%;
      width: 1px;
    }

    #hiring-process div:before {
      left: -5px;
      top: 5px;
      width: 10px;
      height: 10px;
      border-radius: 10px;
    }

    #hiring-process div {
      width: 100%;
      padding: 0 15px 30px 15px;
      align-items: flex-start;
      justify-content: flex-start;
      height: auto;
      text-align: left;
    }
    #hiring-process div p {
      padding: 0;
      text-align: left;
    }
    #hiring-process p {
      font-size: 15px;
    }

		#hiring-process .last { margin-bottom: -70px; }
		#hiring-process { margin-bottom: 50px; margin-top: 30px;}
  }
</style>
<div class="container" id="hiring-process">
  <div class="first">
    <h2>Application</h2>
    <p>You send us an application</p>
  </div>
  <div>
    <h2>Chat</h2>
    <p>We schedule an initial chat</p>
  </div>
  <div>
    <h2>Team Interview</h2>
    <p>You have in-depth interviews with the team</p>
  </div>
  <div>
    <h2>Founders Interview</h2>
    <p>We have a final interview</p>
  </div>
  <div>
    <h2>Work Test</h2>
    <p>You’re invited for a paid work test</p>
  </div>
  <div>
    <h2>References</h2>
    <p>We ask you for references and conduct reference checks</p>
  </div>
  <div class="last">
    <h2>Offer</h2>
    <p>We extend you an offer</p>
  </div>
</div>
