<style>
  .challenges {
    margin: 50px 0;
    padding: 0 10px 30px 10px;
    margin-top: -25px!important;
  }
  .challenge-box {
    max-width: 350px;
    padding: 0 45px;
    margin: 30px 0;
    text-align: left;
    min-height: 145px;
  }

  .challenge-box.middle {
    border-left: solid 1px #d8d8d8;
    border-right: solid 1px #d8d8d8;
  }
  @media (max-width: 900px) {
    .challenge-box.middle {
      border-left: solid 0px transparent;
      border-right: solid 0px transparent;
    }
    .challenge-box {
      margin: 0 -10px 30px -10px;
      width: 85vw;
      border-bottom: solid 1px #c3c3c3;
    }
    .challenge-box p {
      margin-bottom: 30px;
    }
  }
  .eth-icon {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffffff;
    box-shadow: 0 6px 10px 0 rgba(224, 224, 224, 0.8);
    display: flex;
    justify-content: center;
  }
  .challenges h3 {
    margin-top: 38px;
  }
  .challenges h5 {
    opacity: 0.8;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #4a4a4a;
  }
</style>

<section class="challenges centered">
  <div class="eth-icon">
    <img style="width: 21px;" src="/images/landing/eth.svg">
  </div>
  <h3>The challenges of building decentralized systems</h3>
  <div class="flex xs-column">
    <div class="challenge-box">
      <h5>Security</h5>
      <p class="small">Economies where software powers real money are exposed to hacks and attacks.</p>
    </div>
    <div class="challenge-box middle">
      <h5>Developer experience</h5>
      <p class="small">Lack of proper development and testing tooling increases margin of errors exponentially.</p>
    </div>
    <div class="challenge-box">
      <h5>Operations</h5>
      <p class="small">It’s costly and difficult to fix problems in decentralized systems once deployed.</p>
    </div>
  </div>
</section>
