<style>
  .challenges {
    margin: 50px 0;
  }
  .challenge-box {
    max-width: 350px;
    padding: 0 45px;
    margin: 30px 0;
    text-align: left;
  }
  .challenge-box.middle {
    border-left: solid 1px #d8d8d8;
    border-right: solid 1px #d8d8d8;
  }
  .eth-icon {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffffff;
    box-shadow: 0 6px 10px 0 rgba(224, 224, 224, 0.8);
    display: flex;
    justify-content: center;
  }
  .challenges h3 {
    margin-top: 38px;
  }
  .challenges h5 {
    opacity: 0.8;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #4a4a4a;
  }
</style>

<section class="challenges centered">
  <div class="eth-icon">
    <img src="/images/landing/eth.svg">
  </div>
  <h3>The challenges of building decentralized networks</h3>
  <div class="flex">
    <div class="challenge-box">
      <h5>Security</h5>
      <p class="small">The challenge for security professionals is to rethink the 'castle & moat' approach to perimeter-based security and reconsider security holistically across the dynamic, distributed fleet.</p>
    </div>
    <div class="challenge-box middle">
      <h5>Developer experience</h5>
      <p class="small">The challenge for architects and developers is to accommodate the necessary diversity of application platforms across a distributed fleet.</p>
    </div>
    <div class="challenge-box">
      <h5>Operations</h5>
      <p class="small">The challenge for op. teams moving to cloud is to enable the automation through infrastructure as code while embracing the inevitable heterogeneity of different cloud providers.</p>
    </div>
  </div>
</section>