<style type="text/css">
  nav {
    height: 50px;
    background: transparent;
    color: white;
    font-family: 'SourceRegular';
    font-size: 16px;
    border: 0px transparent;
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255,1);
    -moz-box-shadow: 0 0 0 0 rgba(255,255,255,1);
    box-shadow: 0 0 0 0 rgba(255,255,255,1);
  }
  nav a {
    color: white;
    height: 100%;
    line-height: 50px;
  }
  .nav-wrapper {
    padding-left: 30px;
    padding-right: 15px;
  }
  .fa-bars {
    font-size: 26px !important;
  }
  #mobile-nav {
    background: black;
  }
  #mobile-nav a {
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  #mobile-nav li .title {
    font-family: Helvetica;
    font-size: 22px;
    line-height: 1.25;
    color: #ffffff;
    padding: 2px !important;
    display: flex;
    align-items: center;
  }
  #mobile-nav li .subtitle {
    opacity: 0.6;
    font-family: Helvetica;
    font-size: 20px;
    line-height: 2.5;
    color: #ffffff;
    padding: 2px !important;
  }
  #mobile-nav li .subtitle img{
    height: 14px;
  }
  #mobile-nav li {
    min-height: 50px !important;
    border-bottom: solid 2px #ffffff33;
    padding: 15px 0;
    margin: 0 30px;
  }
  #mobile-nav li.first {
    border-bottom: solid 0px transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
  }
  #mobile-nav li.first a.logo-link, #mobile-nav li.first img {
    height: 26px;
    padding: 0 !important;
  }
  .side-nav {
    width: 100%;
  }
  .close-link {
    float: right !important;
    opacity: 0.8;
    padding: 10px 0 !important;
  }
  .close-link img{
    position: relative !important;
    height: 20px !important
  }
  nav .dropdown-button {
    display: inline-flex;
    align-items: center;
    text-transform: none;
    padding: 0 15px;
    cursor: pointer;
  }

  nav .nav-wrapper {
    width: 67%;
  }

  nav i.material-icons {
    font-size: 1em;
  }

  nav .button-collapse {
    float: right !important;
  }
  .brand-box {
    width: 134px;
    height: 65px;
    display: flex;
  }

  .brand-box img {
    height: 26px;
  }

  .brand-box a {
    display: flex;
    align-items: center;
    padding-left: 0 !important;
  }
  nav ul a:hover {
    background-color: inherit !important;
    opacity: 1;
  }
  .brand-box a:hover{
    background: transparent;
  }
  .principal-links {
    opacity: 0.8;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #ffffff;
  }

  .dropdown-box p {
    margin: 0 .5rem 0 .5rem;
  }
  .dropdown-box p.subtitle {
    opacity: 0.8;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.9;
    color: #4a4a4a;
    text-align: left;
  }
  .dropdown-box p.title {
    font-family: Helvetica;
    font-size: 1em;
    font-weight: bold;
    color: #3c3c3c;
    line-height: 1;
    text-align: left;
    padding-top: .25rem;
  }
  nav i.material-icons {
    font-size: 22px;
  }
  nav i.material-icons.menu {
    font-size: 34px;
  }
  ul.side-nav a.flex-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a.we-are-hiring {
    height: 24px;
    align-items: center;
    display: flex;
    border-radius: 100px;
    background: #ffffff25;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: .75em;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }
  li.we-are-hiring-box {
    height: 65px;
    display: flex;
    align-items: center;
  }
  nav ul a.we-are-hiring:hover {
    opacity: 1;
    background-color: #ffffff45 !important;
  }
</style>

<nav>
  <div class="nav-wrapper">
    <ul class="left">
      <li class="brand-box">
        <a href="/">
          <img src="/images/logoZeppelin-long.svg"/>
        </a>
      </li>
      <li class="we-are-hiring-box">
        <a class="we-are-hiring" href="/careers/">We are hiring</a>
      </li>
    </ul>
    <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons menu">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li>
        <div class="dropdown">
          <span class="dropdown-button principal-links" id="project">Projects<i class="material-icons">  expand_more</i></span>
          <!-- Dropdown Structure -->
          <div class="nav-dropdown-container projects-dropdown">
            <ul>
              <li><a class="dropdown-box" href="https://openzeppelin.org/" target="_blank">
                <img src="/images/navbar/openzeppelin.svg">
                <div>
                  <p class="title">OpenZeppelin</p>
                  <p class="subtitle">A Solidity framework of reusable and secure smart contracts</p>
                </div>
              </a></li>
              <li><a class="dropdown-box" href="https://zeppelinos.org/" target="_blank">
                <img src="/images/navbar/zos.svg">
                <div>
                  <p class="title">ZeppelinOS</p>
                  <p class="subtitle">A secure platform to develop and manage smart contract apps</p>
                </div>
              </a></li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <a class="principal-links" href="/security/">Security audits</a>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <a class="principal-links" href="/about/">About</a>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <a class="principal-links" href="/careers/">Join us</a>
        </div>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-nav">
      <li class="first"><a href="/" class="logo-link"><img src="/images/logoZeppelin-long.svg"/></a><a class="sidenav-close close-link" href="#!"><img src="/images/ic_close.svg"></a></li>
      <li>
        <p class="title">Projects</p>
        <a class="subtitle flex-link"href="https://openzeppelin.org/" target="_blank">OpenZeppelin <img src="/images/ic_link_grey.svg"></a>
        <a class="subtitle flex-link"href="https://zeppelinos.org/" target="_blank">ZeppelinOS <img src="/images/ic_link_grey.svg"></a>
      </li>
      <li><a class="title flex-link" href="/security/">Security <img src="/images/ic_arrow_right_white.svg"></a></li>
      <li><a class="title flex-link" href="/about/">About <img src="/images/ic_arrow_right_white.svg"></a></li>
      <li><a class="title flex-link" href="/careers/">Join us <img src="/images/ic_arrow_right_white.svg"></a></li>
    </ul>
  </div>
</nav>
