<style type="text/css">
  .partners-grid .col {
    overflow: hidden;
  }

  .partners-grid img, .partners-grid svg {
		width: 80%;
		display: block;
		object-fit: scale-down;
		object-position: 50% 50%;
		height: 100px;
  }

	.partners-grid {
		margin-top: 35px;
		display: flex;
	}

</style>

<div class="partners">
<div class="container">
  <div class="grid partners-grid">
		<div class="row">
			<span class="col">
				<img src="../images/new-logos/brave.svg" />
			</span>
			<span class="col">
				<img src="../images/new-logos/augur.svg" />
			</span>
			<span class="col">
				<img src="../images/new-logos/ethfund.svg" />
			</span>
			<span class="col">
				<img src="../images/new-logos/coinbase.svg" />
			</span>
			<span class="col">
				<img src="../images/new-logos/omisego.svg" />
			</span>
		</div>
		<div class="row">
			<span class="col">
				<img src="../images/new-logos/cosmos.svg" />
			</span>
			<span class="col">
				<img src="../images/new-logos/dfinity.svg" />
			</span>
			<span class="col">
				<img src="../images/new-logos/status.svg" />
			</span>
			<span class="col">
				<img src="../images/new-logos/bitgo.svg" />
			</span>
			<span class="col">
				<img src="../images/new-logos/shapeshift.svg" />
			</span>
		</div>
  </div>
</div>
</div>
