<style type="text/css">
  .partners-grid .col {
    overflow: hidden;
  }

  .partners-grid img, .partners-grid svg {
		width: 100%;
		display: block;
		object-fit: scale-down;
		object-position: 50% 50%;
		height: 100px;
  }

	.partners-grid {
		margin-top: 35px;
		display: flex;
	}

</style>

<div class="partners">
<div class="container">
  <div class="grid partners-grid">
		<div class="row">
			<span class="col">
				<img src="../images/logos/ethereum.svg" />
			</span>
			<span class="col">
				<img src="../images/logos/augur.png" />
			</span>
			<span class="col">
				<img src="../images/logos/brave.png" />
			</span>
			<span class="col">
				<img src="../images/logos/golem.svg" />
			</span>
			<span class="col">
				<img src="../images/logos/omise.svg" />
			</span>
			<span class="col">
      	<img class="cosmos" src="../images/logos/cosmos.svg" />
    	</span>
		</div>

		<div class="row">
			<span class="col">
				<img class="shapeshift" src="../images/logos/shapeshift.png" />
			</span>
			<span class="col">
				<img class="dfinity" src="../images/logos/dfinity.png" />
			</span>
			<span class="col">
				<img class="status" src="../images/logos/status.svg" />
			</span>
			<span class="col">
				<img src="../images/logos/decentraland.svg" />
			</span>
			<span class="col">
				<img class="bitgo" src="../images/logos/bitgo.png" />
			</span>
			<span class="col">
				<img src="../images/logos/storj.png" />
			</span>
		</div>

  </div>
</div>
</div>
