<style type="text/css">
  .partners {
    min-width: 1050px;
  }
  .leading-projects {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
  }
  .leading-projects img {
    max-width: 230px;
    width: 60%;
    margin: 20px auto;
    display: block;
    text-align: center;
  }
  .leading-projects .bitgo {
    margin: 22px auto;
  }
  .leading-projects .dfinity, .leading-projects {
    margin: 13px auto;
  }
  .leading-projects.eth {
    max-width: 230px;
  }
  @media (max-width: 900px) {
   .partners {
    min-width: 1px;
  }
</style>

<div class="container centered valign-wrapper">
  <div class="valign partners">
    <span class="leading-projects">
      <img src="../images/logos/brave.png" />
    </span>
    <span class="leading-projects">
      <img src="../images/logos/augur.png" />
    </span>
    <span class="leading-projects">
      <img class="eth" src="../images/logos/ethereum.png" />
    </span>
    <span class="leading-projects">
      <img src="../images/logos/coinbase.svg" />
    </span>
    <span class="leading-projects">
      <img class="dfinity" src="../images/logos/dfinity.png" />
    </span>
    <span class="leading-projects">
      <img class="bitgo" src="../images/logos/bitgo.png" />
    </span>
  </div>
</div>
