<style type="text/css">
  .leading-projects {
    height: 80px;
    width: 150px;
    display: inline-block;
    vertical-align: middle;
  }

  .leading-projects img {
    max-width: 230px;
    width: 60%;
    margin: 20px auto;
    display: block;
    text-align: center;
  }

  .leading-projects .cosmos {
    margin: 24px auto;
  }
  .leading-projects .bitgo {
    margin: 22px auto;
  }
  .leading-projects .shapeshift, .leading-projects .status {
    margin: 18px auto;
  }
  .leading-projects .dfinity, .leading-projects {
    margin: 13px auto;
  }

	.partners-grid {
		display: flex;
	}

</style>

<div class="partners">
<div class="container">
  <div class="grid partners-grid">
		<div class="row">
			<span class="leading-projects">
				<img src="../images/logos/ethereum.svg" />
			</span>
			<span class="leading-projects">
				<img src="../images/logos/augur.png" />
			</span>
			<span class="leading-projects">
				<img src="../images/logos/brave.png" />
			</span>
			<span class="leading-projects">
				<img src="../images/logos/golem.svg" />
			</span>
			<span class="leading-projects">
				<img src="../images/logos/omise.svg" />
			</span>
			<span class="leading-projects">
      	<img class="cosmos" src="../images/logos/cosmos.svg" />
    	</span>
		</div>

		<div class="row">
			<span class="leading-projects">
				<img class="shapeshift" src="../images/logos/shapeshift.png" />
			</span>
			<span class="leading-projects">
				<img class="dfinity" src="../images/logos/dfinity.png" />
			</span>
			<span class="leading-projects">
				<img class="status" src="../images/logos/status.svg" />
			</span>
			<span class="leading-projects">
				<img src="../images/logos/decentraland.svg" />
			</span>
			<span class="leading-projects">
				<img class="bitgo" src="../images/logos/bitgo.png" />
			</span>
			<span class="leading-projects">
				<img src="../images/logos/storj.png" />
			</span>
		</div>

  </div>
</div>
</div>
