<style>
	.product-card {
	  box-shadow: 0 8px 14px 0 rgba(60, 60, 60, 0.09);
	  background-color: #ffffff;
	  border: solid 1px #ededed;
	  width: 100%;
    padding: 50px 70px;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
	}

	.product-card h1 {
	  font-family: 'Roboto', sans-serif;
	  font-size: 20px;
	  font-weight: 500;
	  line-height: 1;
	  color: #000000;
	  margin-top: 0;
	}

	.product-card h2 {
	  opacity: 0.8;

	  font-size: 15px;
	  line-height: 1.2;
	  color: #3c3c3c;
	}

	.product-card .description {
	  opacity: 0.8;
	  font-family: 'Roboto', sans-serif;
		font-size: 0.98rem;
		line-height: 1.7;
		color: #3c3c3c;
		margin: 6px 0;
	}

	.product-card div.image-box {
		width: 50%;
	}
	.product-card div.text-box {
		width: 70%
	}
	.show-on-small {
		display: none !important;
	}
	.product-card .hide-on-small-only {
		display: block;
		text-align: center;
	}
	.product-card.empty-button {
    border: solid 1px #0e1129;
    color: #3c3c3c;
  }
	.product-card .empty-button:hover {
    background-color: #0e1129;
  }
  .product-card .fill-button {
    border: solid 1px #0e1129;
    background-color: #0e1129;
  }
  .product-card .fill-button:hover {
    color: #3c3c3c;
    background-color: transparent;
  }
	@media (max-width: 900px) {
		.show-on-small { display: block !important; }
		.hide-on-small-only { display: none !important; }
		.product-card { padding: 30px 20px; }
		.product-card div { width: 100% !important; }
		.product-card .image-box { padding-bottom: 30px; text-align: center}
		.product-card .title-img { width: 70%; max-width: 291px; }
		.product-card .buttons-box { text-align: center; }
		.product-card .buttons-box .rounded-button { padding: 9px 20px; }
	}
	.list-box p{
		line-height: 1.25;
	}
	.list-box {
		margin-top: 15px;
		margin-bottom: 39px;
	}
	.list-box p img {
		padding: 0 7px 0 0;
	}
</style>

<div class="product-card xs-column">
	<div class="show-on-small image-box">
		<img class="title-img" src="../images/logo_OZ.svg"/>
	</div>
	<div class="text-box">
		<h1>Smart Contract Libraries</h1>
		<p>A framework of modular, reusable, secure smart contracts for the Ethereum network, written in Solidity.</p>
		<div class="list-box">
			<p><img src="../images/ic_check.svg">Ideal for learning</p>
			<p><img src="../images/ic_check.svg">Reduced risks of vulnerabilities</p>
			<p><img src="../images/ic_check.svg">Standard, tested, community-reviewed code</p>
		</div>
		<div class="buttons-box">
			<a class="rounded-button fill-button" target="_blank" href="https://openzeppelin.com/">Visit site</a>
			<a class="rounded-button empty-button" target="_blank" href="https://docs.openzeppelin.com">Go to docs</a>
		</div>
	</div>
	<div class="hide-on-small-only image-box">
		<img src="../images/logo_OZ.svg"/>
	</div>
</div>
<div class="product-card xs-column">
	<div class="show-on-small image-box">
		<img class="title-img" src="../images/logo_zOS.svg"/>
	</div>
	<div class="text-box">
		<h1>Development Platform</h1>
		<p>A development platform for secure smart contract applications.</p>
		<div class="list-box">
			<p><img src="../images/ic_check.svg">Bug fixing and upgradeability management</p>
			<p><img src="../images/ic_check.svg">Seamless developer experience</p>
		</div>
		<div class="buttons-box">
			<a class="rounded-button fill-button" target="_blank" href="https://zeppelinos.org/">Visit site</a>
			<a class="rounded-button empty-button" target="_blank" href="https://docs.zeppelinos.org/docs/start.html">Go to docs</a>
		</div>
	</div>
	<div class="hide-on-small-only image-box">
		<img src="../images/logo_zOS.svg"/>
	</div>
</div>
