<style type="text/css">

  .security-quote .card {
    display: flex;
    padding: 2.4rem;
    background: #FFFFFF;
    box-shadow: 0 8px 14px 0 rgba(60,60,60,0.09);
    border-radius: 4px;
    height: 220px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

	.security-quote .card:last-child {
		margin-right: 0;
  }

	.security-quote .card .quote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .security-quote .card .quote .text {
		opacity: 0.9;
		font-size: 1rem;
		color: #282846;
		flex: 1;
		line-height: 1.6;
		text-align: left;
		flex: 0;
		margin-bottom: 20px;
  }

  .security-quote .card .card-margin {
		flex: 0;
    opacity: 0.8;
    font-size: 14px;
    line-height: 2.14;
    color: #3c3c3c;
    text-align: left;
    display: flex;
    align-items: center;
  }

  .security-quote .card .card-margin .strong {
    font-weight: 600;
  }

  .security-quote .card .name {

		display: flex;
		flex-direction: column;
    padding: 0 10px;
    line-height: 1.5;
  }

  .security-quote .card .card-margin .img {
    height: 50px;
		border-radius: 4px;
  }

	section.sa-projects .description {
		font-size: 1.0625rem;
	}

@media (min-width: 700px) {
  .security-quote .card .quote .text {
		font-size: 1.2rem;
  }
	.security-quote .card {
		margin-right: 40px;
		height: auto;
		min-height: 220px;
  }
}

@media (min-width: 900px) {
	.security-quote .card {
		height: 220px;
  }
}
</style>


<div class="security-quote grid">
	<div class="row">

		<div class="col card">
			<blockquote class="quote">
				<h2 class="text">“OpenZeppelin's audit report was like Christmas morning for all the engineers. Our team is very pleased with the results.”</h2>
				<div class="card-margin">
					<img class="img" src="../images/tom.jpg" alt="Tom Kysar">
					<div class="name">
						<span class="strong">Tom Kysar</span>
						<span>Product Manager at Augur</span>
					</div>
				</div>
			</blockquote>
		</div>

		<div class="col card">
			<blockquote class="quote">
				<h2 class="text">“I have a very high opinion of the OpenZeppelin team and their work.”</h2>
				<div class="card-margin">
					<img class="img" src="../images/brendan.jpg" alt="Brendan Eich">
					<div class="name">
						<span class="strong">Brendan Eich</span>
						<span>Founder of Mozilla and Brave, Javascript creator</span>
					</div>
				</div>
			</blockquote>
		</div>

	</div>
</div>
