<style>
  .security-card {
    box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
    background-color: #ffffff;
    width: 100%;
    height: auto;
    margin: 10px 10px;
  }
  .security-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -10px;
  }
  .oz-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 170px;
    background-color: #549bf9;
  }
  .zos-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 170px;
    background-color: #232528;
  }
  .security-card h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33;
    color: #000000;
  }
  .security-card .text-container {
    padding: 30px;
  }
  .security-card .empty-button {
    border: solid 1px #0e1129;
    color: #3c3c3c;
  }
	.security-card .empty-button:hover {
    background-color: #0e1129;
    color: white;
  }
  .security-card .fill-button {
    border: solid 1px #0e1129;
    background-color: #0e1129;
  }
  .security-card .fill-button:hover {
    color: #3c3c3c;
    background-color: transparent;
  }
  @media (max-width: 900px) {
  	.mobile-column { flex-direction: column; }
    .oz-img-container, .zos-img-container { height: 118px; }
    .oz-img-container img, .zos-img-container img{ max-width: 70%; }
    .security-cards-container p.small { margin-bottom: 30px; }
  }
  .buttons-box {
    flex-wrap: wrap;
    display: flex;
    padding-top: 13px;
   }
  @media screen and (max-width: 1080px) and (min-width: 980px){
  	.buttons-box a { margin-top: 7px; }
  }
</style>


<div class="security-cards-container mobile-column">
  <div class="security-card">
    <div class="oz-img-container">
      <img src="../images/oz-white.svg"/>
    </div>
    <div class="text-container">
      <h2>Smart Contract Libraries</h2>
      <p class="small">A framework of modular, reusable, secure smart contracts for the Ethereum network, written in Solidity. Reduce the risk of vulnerabilities in your applications by using standard, tested, community-reviewed code.</p>
      <div class="buttons-box">
        </br>
  			<a class="rounded-button fill-button" target="_blank" href="https://openzeppelin.com/">Visit site</a>
  			<a class="rounded-button empty-button" target="_blank" href="https://docs.openzeppelin.com">Go to docs</a>
  		</div>
    </div>
  </div>
  <div class="security-card">
    <div class="zos-img-container">
      <img src="../images/zos-white.svg"/>
    </div>
    <div class="text-container">
      <h2>Development Platform</h2>
      <p class="small">A platform to securely develop and manage decentralized applications. It provides an on-chain set of upgradeable standard libraries, and an incentive structure to continually upgrade and patch itself.</p>
      <div class="buttons-box">
        </br>
  			<a class="rounded-button fill-button" target="_blank" href="https://zeppelinos.org/">Visit site</a>
  			<a class="rounded-button empty-button" target="_blank" href="https://docs.openzeppelin.com">Go to docs</a>
  		</div>
    </div>
  </div>
</div>
