<style type="text/css">
  .security-quote .card{
    width: 70%;
    max-width: 600px;
    box-shadow: 0px 5px 30px 2px rgba(224, 224, 224, 0.6);
    
    background-repeat: no-repeat;
    background-position: 113% 72%;
    background-size: 24% 45%;
    margin: 16px 8px 0;
  }

  .augur{
    background-image: url(/images/ic_augur.svg);
  }
  .brave{
    background-image: url(/images/ic_brave.svg);
  }

  @media (max-width: 900px) {
    .flex-box.mobile-column.container.security-quote { width: 100%; }
    .security-quote .card { width: 85%; }
    .security-quote .card { margin-left: auto; margin-right: auto; }
  }

  .security-quote .card h6 {
    opacity: 0.8;
    font-family: Helvetica;
    font-size: 1.25em;
    font-weight: 300;
    font-style: oblique;
    line-height: 1.67;
    color: #3c3c3c;
    min-height: 80px;
  }
  .security-quote .card h3 {
    opacity: 0.8;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 2.14;
    color: #3c3c3c;
    text-align: left;
    display: flex;
    align-items: center;
  }
  .security-quote .card h3 .strong{
    font-weight: 800;
  }
  .security-quote .card .name {
    padding: 0 10px;
    line-height: 1.5;
  }
  .security-quote .card .name p {
    line-height: 1;
  }
  .security-quote .card h3 img{
    height: 45px;
  }
  .security-quote .card-margin {
    margin: 25px 0 0 0;
  }
  .security-quote .card-content{
    padding: 2rem;
  }
</style>


<div class="flex-box mobile-column container security-quote" style="justify-content: center;">
  <div class="card darken-1 augur">
    <div class="card-content">
      <div>
        <h6>“Zeppelin's audit report was like Christmas morning for all the engineers. Our team is very pleased with the results.”</h6>
        <h3 class="card-margin">
          <img class="circle responsive-img" src="../images/tom.jpg" alt="Tom Kysar">
          <div class="name">
            <span class="strong">Tom Kysar</span><p><span>Product Manager at Augur</span></p>
          </div>
        </h3>
      </div>
    </div>
  </div>
  <div class="card darken-1 brave">
    <div class="card-content">
      <div>
        <h6>“I have a very high opinion of the Zeppelin team and their work.”</h6>
        <h3 class="card-margin">
          <img class="circle responsive-img" src="../images/brendan.jpg" alt="Brendan Eich">
          <div class="name">
            <span class="strong">Brendan Eich</span><p><span>Founder of Mozilla and Brave, Javascript creator</span></p>
          </div>
        </h3>
      </div>
    </div>
  </div>
</div>
