<style type="text/css">
  .sponsors-img {
    width: 27% !important;
  }
  .sponsors-img.rsk {
    width: 34% !important;
  }
  .rsk-text {
    margin-left: -14px;
  }
  @media (max-width: 900px) {
    .sponsors-section .leading-projects {
      width: 103px;
    }
  }
  .sponsors-section .leading-projects {
    height: auto !important;
  }
  
</style>

<div class="container centered valign-wrapper sponsors-section">
  <div class="valign platforms">
    <span class="leading-projects">
      <img class="sponsors-img" src="../images/about-logos/eth.svg" />
      <p class="x-small">ETH Classic</p>
    </span>
    <span class="leading-projects">
      <img class="sponsors-img" src="../images/about-logos/eth-classic.png" />
      <p class="x-small">Ethereum</p>
    </span>
    <span class="leading-projects">
      <img class="sponsors-img rsk" src="../images/about-logos/rsk.png" />
      <p class="x-small rsk-text">RSK</p>
    </span>
  </div>
</div>