<style type="text/css">
  .sponsors-img {
    width: 33% !important;
  }
  .sponsors-img.rsk {
    width: 38% !important;
  }

  @media (max-width: 900px) {
    .sponsors-section .leading-projects {
      width: 103px;
    }
  }
  
</style>

<br/>
<br/>
<div class="container centered valign-wrapper sponsors-section">
  <div class="row valign platforms">
    <span class="leading-projects">
      <img class="sponsors-img" src="../images/about-logos/eth.svg" />
    </span>
    <span class="leading-projects">
      <img class="sponsors-img" src="../images/about-logos/eth-classic.png" />
    </span>
    <span class="leading-projects">
      <img class="sponsors-img rsk" src="../images/about-logos/rsk.png" />
    </span>
  </div>
</div>