<style type="text/css">
  .team-box {
    height: 255px;
    width: 19%;
    min-width: 150px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  .team-img {
    height: 120px !important;
    width: 120px !important;
    margin: auto;
    margin-bottom: 1.5rem;
    box-shadow: -2px 4px 10px 0 #f5f5f5, 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  }
  .team-box p {
    margin: 1px auto;
  }
  .team-box p.title {
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.31;
    text-align: center;
    color: #4a4a4a;
  }
  .team-box p.small {
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    color: #4a4a4a;
  }
</style>

<div class="valign row space">
  <div class="row centered">
    <div class="team-box">
      <img src="../images/team/demi.png" class="circle responsive-img team-img">
      <p class="title">Demian Brener</p>
      <p class="small">Founder & CEO</p>
    </div>
    <div class="team-box">
      <img src="../images/team/manu.png" class="circle responsive-img team-img">
      <p class="title">Manuel Araoz</p>
      <p class="small">Founder & CTO</p>
    </div>
    <div class="team-box">
      <img src="../images/team/albert.png" class="circle responsive-img team-img">
      <p class="title">Albert Gozzi</p>
      <p class="small">COO</p>
    </div>
    <div class="team-box">
      <img src="../images/team/facu.png" class="circle responsive-img team-img">
      <p class="title">Facundo Spagnuolo</p>
      <p class="small">Core dev</p>
    </div>
    <div class="team-box">
      <img src="../images/team/palla.png" class="circle responsive-img team-img">
      <p class="title">Santiago Palladino</p>
      <p class="small">Core dev</p>
    </div>
    <div class="team-box">
      <img src="../images/team/marta.png" class="circle responsive-img team-img">
      <p class="title">Martín Tellechea</p>
      <p class="small">Biz dev</p>
    </div>
    <div class="team-box">
      <img src="../images/team/ale.png" class="circle responsive-img team-img">
      <p class="title">Alejandro Santander</p>
      <p class="small">Core dev</p>
    </div>
    <div class="team-box">
      <img src="../images/team/alejo.png" class="circle responsive-img team-img">
      <p class="title">Alejo Salles</p>
      <p class="small">Core dev</p>
    </div>
    <div class="team-box">
      <img src="../images/team/fran.png" class="circle responsive-img team-img">
      <p class="title">Francisco Giordano</p>
      <p class="small">Core dev</p>
    </div>
    <div class="team-box">
      <img src="../images/team/marto.png" class="circle responsive-img team-img">
      <p class="title">Martín Triay</p>
      <p class="small">Core dev</p>
    </div>
    <div class="team-box">
      <img src="../images/team/nico.png" class="circle responsive-img team-img">
      <p class="title">Nicolás Venturo</p>
      <p class="small">Core dev</p>
    </div>
  </div>
</div>