<style type="text/css">
  .team-box {
    height: 255px;
    width: 19%;
    min-width: 150px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  .team-img {
    height: 120px !important;
    width: 120px !important;
    margin: auto;
    margin-bottom: 1.5rem;
    box-shadow: -2px 4px 10px 0 #f5f5f5, 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  }
  .team-box p {
    margin: 1px auto;
  }
  .team-box p.title {
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.31;
    text-align: center;
    color: #4a4a4a;
  }
  .team-box p.small {
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    color: #4a4a4a;
  }

  @media (max-width: 900px) {
    .team-box {
      height: 187px;
      width: 32%;
      min-width: 100px;
    }
    .team-img {
      height: 80px !important;
      width: 80px !important;
    }
    .team-container {
      margin: 0 -20px;
    }
  }
</style>

<div class="valign">
  <div class="centered team-container">
    <div class="team-box">
      <img src="../images/team/demi.png" class="circle responsive-img team-img">
      <p class="title">Demian<span class="hide-on-small-only"> Brener</span></p>
      <p class="small">Founder & CEO</p>
      <p class="small hide-on-small-only" >
        <a href="https://github.com/demibrener" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/demibrener" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/manu.png" class="circle responsive-img team-img">
      <p class="title">Manuel<span class="hide-on-small-only"> Araoz</span></p>
      <p class="small">Founder & CTO</p>
      <p class="small hide-on-small-only" >
        <a href="https://github.com/maraoz" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/maraoz" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/fran.png" class="circle responsive-img team-img">
      <p class="title">Francisco<span class="hide-on-small-only"> Giordano</span></p>
      <p class="small">Core dev</p>
      <p class="small hide-on-small-only" >
        <a href="https://github.com/frangio" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/frangio_" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/albert.png" class="circle responsive-img team-img">
      <p class="title">Albert<span class="hide-on-small-only"> Gozzi</span></p>
      <p class="small">COO</p>
      <p class="small hide-on-small-only" >
        <a href="https://github.com/albertogozzi" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/albertgozzi" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/palla.png" class="circle responsive-img team-img">
      <p class="title">Santiago<span class="hide-on-small-only"> Palladino</span></p>
      <p class="small">Core dev</p>
      <p class="small hide-on-small-only" >
        <a href="https://github.com/spalladino" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/smpalladino" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/ale.png" class="circle responsive-img team-img">
      <p class="title">Alejandro<span class="hide-on-small-only"> Santander</span></p>
      <p class="small">Core dev</p>
      <p class="small hide-on-small-only" >
        <a href="https://github.com/ajsantander" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/_ajsantander" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/marto.png" class="circle responsive-img team-img">
      <p class="title">Martin<span class="hide-on-small-only"> Triay</span></p>
      <p class="small">Communications</p>
      <p class="small hide-on-small-only" >
        <a href="https://github.com/martriay" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/martriay" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/marta.png" class="circle responsive-img team-img">
      <p class="title">Martin<span class="hide-on-small-only"> Tellechea</span></p>
      <p class="small">Biz dev</p>
      <p class="small hide-on-small-only" >
        <a href="https://github.com/martintel" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/martint" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/alejo.png" class="circle responsive-img team-img">
      <p class="title">Alejo<span class="hide-on-small-only"> Salles</span></p>
      <p class="small">Core dev</p>
      <p class="small hide-on-small-only" >
        <a href="https://github.com/fiiiu" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/fiiiu_" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/leo.png" class="circle responsive-img team-img">
      <p class="title">Leonardo<span class="hide-on-small-only"> Arias</span></p>
      <p class="small">Core dev</p>
      <p class="small hide-on-small-only" >
        <a href="https://github.com/elopio" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/yoelopio" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/nico.png" class="circle responsive-img team-img">
      <p class="title">Nicolas<span class="hide-on-small-only"> Venturo</span></p>
      <p class="small">Core dev</p>
      <p class="small hide-on-small-only" >
        <a href="https://github.com/nventuro" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/mrnventuro" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/orne.png" class="circle responsive-img team-img">
      <p class="title">Ornella<span class="hide-on-small-only"> Cordoba</span></p>
      <p class="small">Communications</p>
      <p class="small hide-on-small-only" >
        <a href="https://twitter.com/ornellacordoba" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/agos.png" class="circle responsive-img team-img">
      <p class="title">Agostina<span class="hide-on-small-only"> Blanco</span></p>
      <p class="small">Designer</p>
      <p class="small hide-on-small-only" >
        <a href="https://github.com/blancoagostina" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/blancoagostina" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/jota.png" class="circle responsive-img team-img">
      <p class="title">Juan Bautista<span class="hide-on-small-only"> Carpanelli</span></p>
      <p class="small">Core Dev</p>
      <p class="small hide-on-small-only" >
        <a href="https://github.com/jcarpanelli" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/holajotola" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/sofi.png" class="circle responsive-img team-img">
      <p class="title">Sofia<span class="hide-on-small-only"> Vissani</span></p>
      <p class="small">Finance</p>
      <p class="small hide-on-small-only" >
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/tincho.png" class="circle responsive-img team-img">
      <p class="title">Martin<span class="hide-on-small-only"> Abbatemarco</span></p>
      <p class="small">Core Dev</p>
      <p class="small hide-on-small-only" >
        <a href="https://github.com/tinchoabbate" target="_blank"><img src="../images/ic_github_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/caro.png" class="circle responsive-img team-img">
      <p class="title">Carolina<span class="hide-on-small-only"> Jacob</span></p>
      <p class="small">HR</p>
      <p class="small hide-on-small-only" >
        <a href="https://github.com/carojacob" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/carolinajacob1" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/juan.png" class="circle responsive-img team-img">
      <p class="title">John<span class="hide-on-small-only"> Neufeld</span></p>
      <p class="small">Legal</p>
      <p class="small hide-on-small-only" >
        <a href="https://twitter.com/johndneufeld" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div> 
    <div class="team-box">
      <img src="../images/team/dennison.png" class="circle responsive-img team-img">
      <p class="title">Dennison<span class="hide-on-small-only"> Bertram</span></p>
      <p class="small">Communications</p>
      <p class="small hide-on-small-only" >
        <a href="https://github.com/crazyrabbitLTC" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/DennisonBertram" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
    <div class="team-box">
      <img src="../images/team/ramon.png" class="circle responsive-img team-img">
      <p class="title">Ramon<span class="hide-on-small-only"> Recuero</span></p>
      <p class="small">Product</p>
      <p class="small hide-on-small-only" >
        <a href="https://github.com/rrecuero" target="_blank"><img src="../images/ic_github_grey.svg"></a>
        <a href="https://twitter.com/ramonrecuero" target="_blank"><img src="../images/ic_twitter_grey.svg"></a>
      </p>
    </div>
  </div>
</div>
