---
layout: default
---

<style>
	.section-team-header {
		text-align: left;
	}

	.cp-grid {
		text-align: center;
	}
</style>

{% include new-nav.html %}

<main class="page-about-us">

	<section class="section hero gray section-hero-about-us">
		<div class="container">
			<div class="wrapper">
				<h1 class="heading fIu">We build technology to bring freedom to the world</h1>
				<p class="description fIu">
					OpenZeppelin builds developer tools and performs security audits for distributed systems that power multimillion dollar economies. Founded in 2015, we have developed the industry security standards for architecting and deploying distributed systems in public blockchains.
				</p>
			</div>
		</div>
	</section>

	<section class="section section-clients-partners">
		<div class="container">
				<div class="wrapper wrapper--sm wrapper--centered center">
					<h1 class="heading">Clients and partners</h1>
					<p class="description">
						Over the years we’ve gained the trust of other leading technology companies, partners, and investors.
					</p>
				</div>
				<div class="cp-grid">
					{% include partners.html %}
				</div>
		</div>
	</section>

	<section class="section section-team">
		<div class="container">
				<div class="section-team-header wrapper wrapper--sm">
					<h1 class="heading">A distributed team working with distributed technologies.</h1>
					<p class="description">
						Team members are spread across multiple locations including San Francisco, New York, Buenos Aires, Punta del Este, Melbourne, Milan, Tokio, Moscow, San José de Costa Rica and Toronto.
					</p>
				</div>
				<div class="cp-grid">
					{% include team.html %}
				</div>
		</div>
		<div class="container center">
      <a class="btn btn--bordered" href="/jobs/">want to join us?</a>
    </div>
	</section>

	<section class="section hero">
		<div class="container">
			<div class="wrapper">
				<h2 class="heading">Contact</h2>
				<p class="description">For general queries, including partnership opportunities, please email <a href="mailto:contact@zeppelin.solutions">contact@zeppelin.solutions</a></p>
			</div>
		</div>
	</section>
</main>

