---
layout: default
---

<style>
</style>

{% include new-nav.html %}

<main class="page-about-us">

	<section class="section section-hero-about-us">
		<div class="hero">
			<div class="container">
				<div class="wrapper">
					<h1 class="heading fIu">We build technology to bring freedom to the world</h1>
					<p class="description fIu">
						OpenZeppelin builds developer tools and performs security audits for distributed systems that power multimillion dollar economies. Founded in 2015, we have developed the industry security standards for architecting and deploying distributed systems in public blockchains.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section section-hero-about-us">
		<div class="hero">
			<div class="container">
					<h1 class="heading">Clients and partners</h1>
					<p class="description">
						Over the years we’ve gained the trust of other leading technology companies, partners, and investors.
					</p>
				</div>
		</div>
	</section>

</main>


<section class="about-principal hero-background" id="principal">

  <section id="home" style="min-height: 150px;">
    <div class="row">
      <div class="container">
        <h1 class="home-title centered"></h1>
      </div>
    </div>
  </section>
</section>
<section class="how-we-work grey joinus-subsection">
  <div class="container">
    <div class="mobile-column">
      <div>
        <p class="how-we-work-title">Zeppelin builds core infrastructure and performs security audits for decentralized systems that power multimillion dollar economies.</p>
        <p class="how-we-work-title">Founded in 2015, we have developed the industry security standards for architecting and deploying smart contract systems in public blockchains.</p>
      </div>
    </div>
  </div>
</section>
<section class="row" id="clients">
  <div class="container centered">
    <h2 style="margin-bottom: 0;">Clients, partners and platforms</h2>
    <p class="regular">Over the years we’ve gained the trust of other leading technology companies, partners, and investors.</p>
  </div>
  {% include partners.html %}
  <div class="container centered" style="margin: 20px auto;">
    <p class="regular">We work with these platforms and the foundations that sponsor them.</p>
  </div>
  {% include sponsors.html %}
</section>
<section class="row space team-members grey">
  <div class="container">
    <h2 class="small team-title">A distributed team working with distributed technologies</h2>
    <p class="small team-subtitle" style="margin-bottom: 35px;">Team members are spread across multiple locations including San Francisco, New York, Buenos Aires, Punta del Este, Melbourne, Milan, Tokio, Moscow, San José de Costa Rica and Toronto.</p>
    {% include team.html %}
    <div class="centered">
      <a class="rounded-button empty-button btn-long" href="/jobs/">want to join us?</a>
    </div>
  </div>
</section>
<section class="contact">
  <div class="container">
    <h2>Contact</h2>
    <p class="small extra-short">For general queries, including partnership opportunities, please email <a href="mailto:contact@zeppelin.solutions">contact@zeppelin.solutions</a></p>
  </div>
</section>
