---
layout: default
---

<style type="text/css">
  .sidebar {
    display: flex;
    flex-direction: column;
    height: 150px;
    margin-top: 25px;
  }

  .sidebar ul {
    padding: 15px 0;
  }

  .sidebar li {
    margin-top: 18px;
    opacity: 0.8;
  }

  .back {
    color: #505cda;
    font-size: 15px;
    text-decoration: none;
  }

  .job {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
  }

  .job-description {
    margin-left: 55px;
    max-width: 100%;
  }

  .apply {
    margin-top: 15px;
  }

  .company-description>p {
    line-height: 1.3em;
    margin-top: 15px;
  }

  .job-title-main {
    font-size: 26px;
    line-height: 1.25;
    color: #3e3a58;
    font-weight: bold;

  }

  .job-description-title {
    font-size: 20px;
    line-height: 1.25;
    color: #3e3a58;
    font-weight: bold;
    margin: 20px 0;
  }

  .requirements ul {
    list-style: disc;
    padding-left: 15px;

  }

  .requirements li {
    padding: 10px 0 10px 0;
  }

  .application-greybox {
    background-color: #f8f8fa;
    margin-top: 35px;
  }

  .application-greybox a {
    display: inline-block;
    color: #949cdf;
  }

  .application-information {
    padding: 50px 0;
    max-width: 715px;
    margin: auto auto;
    line-height: 1.25;
  }
</style>

{% include new-nav.html %}
<div class="job container">
  <section class="sidebar">
    <a class="back" href="/jobs#openings">
      < BACK</a> <ul>
        <li>Global</li>
        <li>Full Time</li>
        <li>Communications</li>
        </ul>
        <a class="btn apply" href="/jobs#openings">APPLY</a>
  </section>
  <section class="col job-description">
    <h1 class="job-title-main">{{ page.title }}</h1>
    <div class="company-description">
      <p>OpenZeppelin builds developer tools and performs security audits for distributed
        systems that power multimillion-dollar
        economies. Founded in 2015, OpenZeppelin has developed the industry security standards for architecting and
        deploying
        distributed systems in public blockchains.</p>
      <p>You are the type of person who loves to motivate and encourage others. You are passionate about technology,
        and
        love
        staying up to date on the latest developments. You are detail-oriented and love getting things done.</p>
    </div>
    {{page.content}}
  </section>
</div>
<div class="col application-greybox">
  <div class="application-information">
    <h3 class="job-description-title">Apply</h3>
    <p>Complete the following <a href=" https://airtable.com/shrqTXBRIBFCnXD3i" target="_blank">application
        form</a> or send an email to <a href="mailto:jobs@zeppelin.solutions">jobs@zeppelin.solutions</a> with the
      phrase "{{ page.title }},
      {{ page.location }}" on the subject line.</p>
  </div>

</div>