---
layout: default
---
<main class="page page-jobs">

	<section class="section hero section-hero-jobs">
		<div class="container">
			<div class="wrapper">
				<h1 class="heading fIu">Build the foundations of an open economy</h1>
				<p class="description fIu">
					OpenZeppelin is looking for skilled developers and professionals who are committed to facilitating the creation of shared infrastructure to close the gap between our vision and the reality of how distributed networks work today.
				</p>
				<a class="btn cta fId" href="/jobs#openings">SEE CURRENT OPENINGS</a>
			</div>
		</div>
	</section>

	<section class="section section-content">
		<div class="container grid">
				<div class="box-text">
					<h2 class="heading">What we do</h2>
					<p class="description">We believe in the power of technology to change the world by enabling new ways for individuals and businesses to communicate, create, and transact value. However, some old traditions, institutions, and ideas are being carried over from the days before we invented the Internet.</p>
					<p class="description">We empower creative people all over the world to build new software-based global systems and communities, no matter where they live. We do this by driving technological innovation, open-source collaboration, and great user experience design.</p>
				</div>
				<div class="box-text row">
					<div class="col">
						<h2 class="heading">How we work</h2>
						<p class="description">We’re focused on creating a collaborative work environment where people are happy and productive. We don’t let geography or borders define us: we are a distributed team with members all over the world.</p>
						<p class="description">We apply proven remote and organizational practices ensure that you’ll always be in sync with the team.</p>
					</div>
					<div class="col map">
						<img class="map-img" src="../images/map.svg"/>
					</div>
				</div>
		</div>
	</section>

	<section class="section section-core-values">
		<div class="container">
			<h2 class="section-title">Our Core Values</h2>
			<div class="grid">
				<div class="row">
					<div class="col">
						<div class="box-container">
						<h3 class="heading">Ability to ship</h3>
						<p class="description">We take ownership of our responsibilities, set goals, and manage expectations to achieve them.</p>
						</div>
					</div>
					<div class="col">
						<div class="box-container">
						<h3 class="heading">Intellectual curiosity</h3>
						<p class="description">We are driven by a passionate and constant desire to learn. We encourage a curious attitude toward the unknown and toward life in general.</p>
						</div>
					</div>
					<div class="col">
					<div class="box-container">
						<h3 class="heading">Commitment to excellence</h3>
						<p class="description">We care a great deal about our work being of high quality. We want our products to be polished and our communication to be precise.</p>
					</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
					<div class="box-container">
						<h3 class="heading">Strong sense of purpose</h3>
						<p class="description">We care about the mission and work to positively impact the community. We think big and build with the long-term in mind.</p>
					</div>
					</div>
					<div class="col">
					<div class="box-container">
						<h3 class="heading">Team spirit</h3>
						<p class="description">We trust and rely on other team members, while being mindful of our differences. We have honest and direct communication and contribute to each other’s success.</p>
					</div>
					</div>
					<div class="col">
					<div class="box-container">
						<h3 class="heading">Healthy workstyle</h3>
						<p class="description">We are conscious of our individual work styles and achieve our goals calmly, while enjoying the journey.</p>
					</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section section-job-promo">
		<div class="grid photo-wall">
			<div class="row">
				<div class="col">
					<img class="photo-wall-img" src="../images/image_06.jpg">
				</div>
				<div class="col">
					<img class="photo-wall-img" src="../images/photo_01.png">
				</div>
				<div class="col">
					<img class="photo-wall-img" src="../images/photo_02.png">
				</div>
				<div class="col">
					<img class="photo-wall-img" src="../images/photo_03.png">
				</div>
			</div>
		</div>


		<div class="job-wall-grid">
			<div class="container grid">
				<div class="row">
					<div class="col">
						<div class="box">
							<h3 class="box-title">Flexible schedules</h3>
							<p class="box-description">We focus on achievements, not working hours. Find the rhythm that works best for you.</p>
						</div>
					</div>
					<div class="col">
						<div class="box">
							<h3 class="box-title">Flexible paid time off</h3>
							<p class="box-description">We believe in the importance of breaks so you can lead a balanced life. You decide when to take your vacations.</p>
						</div>
					</div>
					<div class="col">
						<div class="box">
							<h3 class="box-title">Buenos Aires Office</h3>
							<p class="box-description">You’re welcome to work from our office whenever you want. We’re pet friendly and have green spaces, healthy food, and yoga classes.</p>
						</div>
				</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section section-jobs-openings" id="openings">
		<div class="container">
			<div class="section-header">
				<h2 class="section-title heading">
					Current openings
				</h2>
				<p class="section-subtitle">Find the best place for you in OpenZeppelin</p>
			</div>

			<div class="section-content">
				<div class="positions-list-container">
					<ul class="positions-list">
						<li class="positions-list-item active" data-id="all-positions">All Positions</li>
						<li class="positions-list-item" data-id="engineering">Engineering</li>
						<li class="positions-list-item" data-id="communications">Communications</li>
					</ul>
				</div>

				<div class="opening-box-listing" id="all-positions">
					<ul class="job-card-list">
						{% for job in site.jobs %}
							<li class="job-card">
								<a class="job-card-link" href="{{ job.url }}">
									<div class="job-card-content">
										<small class="job-card-location">{{ job.location | slice: 0, 80 }}</small>
										<h3 class="job-card-title">{{ job.title }}</h3>
									</div>
									<div class="job-card-action">
										<span class="arrow">
											<img src="../images/ic_arrow_right_blue.svg"/>
										</span>
									</div>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>

				<div class="opening-box-listing" id="engineering">
					<ul class="job-card-list">
					{% for job in site.jobs %}
					{% if job.tags contains 'engineering' %}
							<li class="job-card">
								<a class="job-card-link" href="{{ job.url }}">
									<div class="job-card-content">
										<small class="job-card-location">{{ job.location | slice: 0, 80 }}</small>
										<h3 class="job-card-title">{{ job.title }}</h3>
									</div>
									<div class="job-card-action">
										<span class="arrow">
											<img src="../images/ic_arrow_right_blue.svg"/>
										</span>
									</div>
								</a>
							</li>
						{% endif %}
					{% endfor %}
					</ul>
				</div>

				<div class="opening-box-listing" id="communications">
					<ul class="job-card-list">
					{% for job in site.jobs %}
					{% if job.tags contains 'communications' %}
							<li class="job-card">
								<a class="job-card-link" href="{{ job.url }}">
									<div class="job-card-content">
										<small class="job-card-location">{{ job.location | slice: 0, 80 }}</small>
										<h3 class="job-card-title">{{ job.title }}</h3>
									</div>
									<div class="job-card-action">
										<span class="arrow">
											<img src="../images/ic_arrow_right_blue.svg"/>
										</span>
									</div>
								</a>
							</li>
						{% endif %}
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</section>


	<section class="section job-opening-role">
		<div class="container">
			<h2 class="section-title">Don’t see your role here?</h2>
			<p class="section-subtitle">Send an email to <a href="mailto:jobs@openzeppelin.com">jobs@openzeppelin.solutions</a>.</p>
		</div>
	</section>


	<section class="section section-hiring-process">
		<div class="container">
			<h2 class="section-title">Hiring process</h2>

			{% include hiring-process.html %}

			<ul class="hp-list">

				<li class="hp-card">
					<div class="hp-content">
						<h3 class="hp-title">How long does the hiring process take?</h3>
						<p class="hp-description animated animated fadeIn">It usually takes 4-6 weeks from the time you submit your application to an offer. The exact timing depends on matching your availability to schedule the work test. We try our best to ensure a swift process while also committing plenty of time to getting to know each other.</p>
					</div>
					<div class="hp-card-action">
						<div class="plus-icon"></div>
					</div>
				</li>

				<li class="hp-card">
					<div class="hp-content">
						<h3 class="hp-title">Who will I be talking to during the hiring process?</h3>
						<p class="hp-description animated fadeIn">You’ll talk to our hiring manager, your prospective teammates, your assigned work test coach and one (or both) of the founders. Each candidate usually interacts with at least four OpenZeppelin members.</p>
					</div>
					<div class="hp-card-action">
						<div class="plus-icon"></div>
					</div>
				</li>

				<li class="hp-card">
					<div class="hp-content">
						<h3 class="hp-title">What’s the work test like?</h3>
						<p class="hp-description animated fadeIn">The work test is a custom challenge guided by a coach from OpenZeppelin. You can think about it as an audition. Work tests should require an effort of roughly 10 hours per week, spanning no more than three weeks. Your time is paid regardless of the output.</p>
					</div>
					<div class="hp-card-action">
						<div class="plus-icon"></div>
					</div>
				</li>

				<li class="hp-card">
					<div class="hp-content">
						<h3 class="hp-title">How can I contact OpenZeppelin if I have questions about my application?</h3>
						<p class="hp-description animated fadeIn">Please send us an email at jobs@openzeppelin.solutions.</p>
					</div>
					<div class="hp-card-action">
						<div class="plus-icon"></div>
					</div>
				</li>

				<li class="hp-card">
					<div class="hp-content">
						<h3 class="hp-title">I’ve applied in the past. Can I reapply?</h3>
						<p class="hp-description animated fadeIn">Yes! Our needs are constantly evolving. If you’d like to reapply for the same or a different position, feel free to do so.</p>
					</div>
					<div class="hp-card-action">
						<div class="plus-icon"></div>
					</div>
				</li>

				<li class="hp-card">
					<div class="hp-content">
						<h3 class="hp-title">Does OpenZeppelin offer internship programs?</h3>
						<p class="hp-description animated fadeIn">At our current stage, we’re not ready to offer internship programs that would add value to both ends. If we ever offer internship programs, they’ll be up on our Jobs page.</p>
					</div>
					<div class="hp-card-action">
						<div class="plus-icon"></div>
					</div>
				</li>

				<li class="hp-card">
					<div class="hp-content">
						<h3 class="hp-title">Do you follow up with candidates you’ve decided not to move forward with?</h3>
						<p class="hp-description animated fadeIn">We try to make sure everyone is kept up-to-date with their application status. Whether we see a match or not, we will reach out to you within two weeks.</p>
					</div>
					<div class="hp-card-action">
						<div class="plus-icon"></div>
					</div>
				</li>
			</ul>
		</div>

		<div class="section-footer container center">
			<a class="btn" href="/jobs#openings">see openings</a>
		</div>

	</section>

</main>

<style type="text/css">
	/* Section: section-hero-jobs */
  .section.section-hero-jobs {
    background-color: #F8F8FA;
  }

  .section.section-hero-jobs .hero {
    height: 400px;
  }

	.section.section-hero-jobs .hero .container {
    display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
  }

	.section.section-hero-jobs .hero .cta {
    width: 250px;
		animation-delay: 1000ms;
  }

  .section.section-hero-jobs .hero .wrapper {
    max-width: 700px;
  }

  .section.section-hero-jobs .hero .heading {
    text-align: center;
		font-weight: bold;
		font-size: 1.9rem;
		margin-bottom: 30px;
  }

  .section.section-hero-jobs .hero .description {
    font-size: 1rem;
    color: #2a2a47;
    text-align: center;
    margin-bottom: 30px;
		line-height: 1.8;
    font-weight: 400;

		animation-delay: 700ms;
  }

	/* Section: section-content */

  .section.section-content {
    padding: 73px 0;
  }

  .section.section-content .box-text {
    margin-bottom: 30px;
  }

  .section.section-content .heading {
    font-size: 1.9rem;
    opacity: 0.88;
    color: #282846;

    line-height: 40px;
    margin-bottom: 25px;
		font-weight: bold;
		text-align: left;
  }

  .section.section-content .description {
    opacity: 0.8;
    color: #282846;
    margin-bottom: 25px;
    font-size: 1rem;
    margin-bottom: 30px;
		line-height: 1.8;
    font-weight: 400;

		text-align: left;
  }

	.section.section-content .map {
		max-height: 200px;
		flex-grow: 0;
    flex-basis: auto;
	}

	.section.section-content .map .map-img {
		padding-top: 20px;
		object-fit: cover;
    width: 100%;
	}

	/* section: section-core-values */

	.section.section-core-values {
		padding: 70px 0;
		background: #F8F8FA;
	}

	.section.section-core-values .section-title {
		opacity: 0.9;
		font-size: 28px;
		color: #282846;

		text-align: center;
		line-height: 40px;
		margin-bottom: 42px;
		font-weight: bold;
	}

	.section.section-core-values .grid .row {
		margin-bottom: 10px;
	}

	.section.section-core-values .grid .col {
		border-bottom: solid 1px #D8D8D8;
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: center;
	}

	.section.section-core-values .grid .col .heading {
		display: inline-block;
	}

	.section.section-core-values .grid .col:first-child {
		justify-content: flex-start;
	}

	.section.section-core-values .grid .col:last-child {
		justify-content: flex-end;
	}

	.section.section-core-values .grid .col .box-container {
		width: 100%;
		height: 80%;
		padding: 0.5rem;
	}

	.section.section-core-values .grid .col:first-child {
		padding-left: 0;
	}

	.section.section-core-values .grid .col:last-child {
		margin-right: 0;
	}

	.section-core-values .grid .col .heading {
		opacity: 0.9;
    font-size: 1.34rem;
    color: #4e5ee4;
    margin-bottom: 1rem;
    font-weight: normal;
	}

	.section-core-values .grid .col .description {
    opacity: 0.8;
    color: #282846;
    margin-bottom: 25px;
    font-size: 0.9375rem;
    margin-bottom: 30px;
    line-height: 1.7;
    font-weight: 400;

	}

	.section.section-job-promo {
		padding-top: 0px;
    background-color: transparent;
		position: relative;
		height: 830px;
  }

	.section.section-job-promo .photo-wall {
		overflow: hidden;
  }

	.section.section-job-promo .row {
		justify-content: center;
		flex-direction: column;
  }

	.section.section-job-promo .photo-wall .col {
		margin: 0;
    margin-bottom: 8px;
    position: relative;
    overflow: hidden;
		flex: 1;
		justify-content: center;
    display: flex;
  }

	.section.section-job-promo .photo-wall .photo-wall-img {
		min-width: 100%;
		object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
    width: 100%;
		max-height: 200px;
  }

	.section.section-job-promo .job-wall-grid {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		bottom: 25px;
  }

	.section.section-job-promo .job-wall-grid .col {
		justify-content: center;
    display: flex;
	}

	.section.section-job-promo .job-wall-grid .box {
		background: #FFFFFF;
		box-shadow: 0 8px 14px 0 rgba(60,60,60,0.09);
		border-radius: 4px;
		padding: 35px 26px;
		width: 80%;
		max-width: 80%;
		margin: 0;
		max-height: 210px;
  }

	.section.section-job-promo .job-wall-grid .box-title {
		font-size: 1.2rem;
		font-weight: 400;
		margin-bottom: 15px;
		text-align: center;
  }

	.section.section-job-promo .job-wall-grid .box-description {
		text-align: center;
		opacity: 0.8;
		color: #282846;
    font-size: 0.92rem;
		line-height: 1.8;
    font-weight: 400;

  }

	/* section: section-jobs-openings */

	.section.section-jobs-openings {
		background: white;
  }

	.section.section-jobs-openings .section-header .section-title {
		opacity: 0.9;
		font-size: 1.8rem;
		color: #282846;
		text-align: center;
		line-height: 1.8;
		margin-bottom: 5px;
  }

	.section.section-jobs-openings .section-header .section-subtitle {
		text-align: center;
		opacity: 0.8;
		color: #282846;
    margin-bottom: 25px;
    font-size: 1.1rem;
    margin-bottom: 30px;
		line-height: 1.8;
    font-weight: 400;

		margin-bottom: 25px;
  }

	.section.section-jobs-openings .section-header {
		margin-bottom: 0px;
	}

	.section.section-jobs-openings .positions-list {
		flex-direction: row;
    display: flex;
		justify-content: space-around;
	}

	.section.section-jobs-openings .section-content, .section.job-opening-role {
		padding: 20px 0 0;
		display: flex;
		flex-direction: column;
  }

	.section.section-jobs-openings {
		padding-bottom: 0px;
	}

	.section.section-jobs-openings .positions-list .positions-list-item {
		margin: 0 0 20px;
		opacity: 0.8;
		color: #282846;
    font-size: 0.98rem;
		line-height: 1.8;
    font-weight: 400;

		transition: all 0.2s ease;
		cursor: pointer;
		margin-right: 5px;
		text-align: center;
		line-height: 1.1rem;
  }

	.section.section-jobs-openings .positions-list .positions-list-item:hover {
		color: #4E5EE4;
		opacity: 0.8;
  }

	.section.section-jobs-openings .positions-list .positions-list-item.active {
		color: #4E5EE4;
  }

	.section.section-jobs-openings .section-content .positions-list-container {
		flex: 0;
	}

	.section.section-jobs-openings .section-content .opening-box-listing {
		opacity: 0;
		display: none;
		flex: 1;
		transition: all 0.8s ease;
	}

	.section.section-jobs-openings .section-content .opening-box-listing.active {
		display: block;
		opacity: 1;
	}

	.section.section-jobs-openings .opening-box-listing .job-card-list {
		display: flex;
    align-items: flex-end;
		flex-direction: column;
	}

	.section.section-jobs-openings .opening-box-listing .job-card {
		background: #FFFFFF;
		border: 1px solid #D5D5D5;
		height: 100px;
		display: flex;
		flex-direction: row;
		align-items: center;
		max-width: 800px;
		flex-grow: 1;
		width: 100%;
		margin-bottom: 20px;
		border-radius: 4px;
		transition: box-shadow 0.25s ease;
		cursor:pointer;
	}

	.section.section-jobs-openings .opening-box-listing .job-card-link {
		display: flex;
		width: 100%;
		align-items: center;
		padding-left: 28px;
		padding-right: 28px;
	}

	.section.section-jobs-openings .opening-box-listing .job-card:hover {
    box-shadow: 0 8px 14px 0 rgba(60,60,60,0.09);
	}

	.section.section-jobs-openings .opening-box-listing .job-card .job-card-content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.section.section-jobs-openings .opening-box-listing .job-card .job-card-action > .arrow {
		padding: 10px;
	}

	.section.section-jobs-openings .opening-box-listing .job-card-location {
		display: block;
		opacity: 0.8;
		font-size: 0.8rem;
		color: #3C3C3C;
		text-transform: uppercase;
		margin-bottom: 10px;
		font-weight: 500;

	}

	.section.section-jobs-openings .opening-box-listing .job-card-title {
		display: block;
		font-size: 1.3rem;
		color: #282846;
		text-decoration: none;
    line-height: 1.7;
    font-weight: 500;
	}

	.section.job-opening-role {
		padding-top: 0;
	}

	.section.job-opening-role .container {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
		height: 200px;
	}

	.section.job-opening-role .section-title {
		opacity: 0.9;
		font-size: 1.8rem;
		color: #282846;
		text-align: center;
		line-height: 1.8;
		margin-bottom: 5px;
	}

	.section.job-opening-role .section-subtitle {
		opacity: 0.8;
		font-size: 1.1rem;
		color: #282846;
		text-align: center;
		line-height: 1.8;
		margin-bottom: 25px;
	}

	.section.job-opening-role .section-subtitle > a {
		color: #4E5EE4;
		text-decoration: none;
	}

	/** **/

	.section.section-hiring-process {
		background-color: #F8F8FA;
		padding: 70px 0;
	}

	.section.section-hiring-process .section-title {
		opacity: 0.9;
		font-size: 1.8rem;
		color: #282846;
		text-align: center;
		line-height: 40px;
		font-weight: 600;
	}

	.section.section-hiring-process .collapsible {
		width: 700px;
		margin: 0 auto;
	}

	.section.section-hiring-process .hp-list {
		max-width: 700px;
		margin: 0 auto;
		margin-top: 40px;
	}

	.section.section-hiring-process .hp-list .hp-card {
		border-bottom: solid 1px #D5D5D5;
		padding: 10px 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-grow: 1;
		width: 100%;
		margin-bottom: 20px;
		transition: border 0.3s ease, color 0.3s ease;
		color: #282846;
		align-items: flex-start;
	}

	.section.section-hiring-process .hp-list .hp-card:hover {
		cursor: pointer;
		color: #4e5ee4;
	}

	.section.section-hiring-process .hp-card .hp-title {
		margin-bottom: 25px;
		max-width: 280px;
		display: block;
		font-size: 1.1rem;
		text-decoration: none;
    line-height: 1.8;
    font-weight: 500;
		margin: 0;
		margin-bottom: 15px;
		color: inherit;
	}

	.section.section-hiring-process .hp-card .hp-description {
		color: #282846;
		line-height: 24px;
		max-width: 600px;
		transition: height 0.8s ease;
		overflow: hidden;
		opacity: 0;
		display: none;
    font-size: 1rem;
    margin-bottom: 30px;
    line-height: 1.8;
    font-weight: 400;

	}

	.section.section-hiring-process .hp-list .hp-description.show {
		opacity: 0.8;
		display: block;
	}

	.section.section-hiring-process .hp-content {
		flex-grow: 1;
	}

	.section.section-hiring-process .hp-card-action {
		flex-grow: 0;
		text-align: right;
		font-size: 1.2rem;
		padding-top: 6px;
		opacity: 0.8;
	}

	.section.section-hiring-process .hp-card-action .icon {
		font-size: 28px;
		transition: color 0.25s ease-in 0s;
		cursor: pointer;
	}

	.section.section-hiring-process .hp-card-action .icon:hover {
		font-size: 28px;
		color: #4E5EE4;
	}

	.section.section-hiring-process .section-footer {
		padding: 40px 0;
	}

	.section.section-hiring-process .section-footer .btn {
		width: 200px;
	}

	.plus-icon {
    position: relative;
    width: 15px;
    height: 15px;
		opacity: 0.8;
	}

	.plus-icon:before,
	.plus-icon:after {
			content: "";
			position: absolute;
			background-color: #000;
			transition: transform 0.25s ease-out;
	}

	.plus-icon:before {
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
    border-radius: 4px;
		margin-left: -1.5px;
	}

	.plus-icon:after {
		margin-top: -1.5px;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 4px;
	}

	.plus-icon.active:before { transform: rotate(90deg); }
	.plus-icon.active:after { transform: rotate(180deg); }

	@media (min-width: 980px) {

		.section.section-job-promo .job-wall-grid {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			bottom: -50px;
		}

		.section.section-job-promo .job-wall-grid .box {
			width: 310px;
			max-width: 310px;
			height: 210px;
			max-height: 210px;
		}

		.section.section-job-promo .job-wall-grid .col:last-child > .box{
			margin-right: 0;
		}

		.section.section-job-promo .photo-wall .photo-wall-img {
			height: 100%;
			max-height: 100%;
		}

		.section.section-job-promo .row {
			flex-direction: row;
		}

		.section.section-core-values .grid .col {
			border-bottom: 0;
			margin: 0;
		}

		.section.section-core-values .grid .col:nth-child(2) {
    	margin-right: 50px;
			margin-left: 50px;
		}

		.section.section-core-values .grid .col > .box-container {
			border-right: solid 1px #D8D8D8;
		}

		.section.section-core-values .grid .col:last-child > .box-container {
			border: none;
		}

		.section.section-core-values .grid .col:last-child > .box-container {
			border: none;
		}

		.section.section-content .map {
			padding-left: 60px;
		}

		.section.section-core-values .grid .col .box-container > .description {
			max-width: calc(100% - 50px);
		}

		.section.section-core-values .grid .col .box-container {
			padding: 0;
			width: 100%;
		}

		.section.section-core-values .grid .row {
			margin: -5px;
			margin-bottom: 34px;
		}

		.section.section-core-values .grid .row:last-child {
    	margin-bottom: 0;
		}

		.section.section-job-promo, .section.section-job-promo .photo-wall {
			height: auto;
  	}

		.section.section-job-promo .photo-wall {
			height: 400px;
		}

		.section.section-jobs-openings .section-content, .section.job-opening-role {
			flex-direction: row;
		}

		.section.section-jobs-openings .positions-list {
			flex-direction: column;
		}

		.section.section-jobs-openings .positions-list .positions-list-item {
			font-size: 1.1rem;
			text-align: left;
		}

		.section.section-hiring-process .hp-card .hp-title {
			max-width: 560px;
		}

		.section.section-jobs-openings {
			padding-top: 110px;
		}

	}

</style>

<script src="/js/fixedMenu.js"></script>
<script src="/js/jobs.js"></script>
<script>
(function($) {
		$(document).ready(function(){
		var $el = $('.section-hiring-process .hp-card');

		$el.click(function() {
			$(this).find('.hp-description').toggleClass('show');
			$(this).find('.plus-icon').toggleClass('active');
		});

	})
})(jQuery);
</script>
