---
layout: default
---

{% include new-nav.html %}

<section class="jobs">
  <div class="hero">
    <div class="container">
      <div class="wrapper">
        <h1 class="heading">Build the foundations of an open economy</h1>
        <p class="description">
          Zeppelin is looking for skillful developers and professionals who
          are committed to facilitating the creation of shared infrastructure
          to close the gap between our vision and the reality of how decentralized
          networks work today.
        </p>
        <a class="btn cta" href="/jobs#openings">SEE CURRENT OPENINGS</a>
      </div>
    </div>
  </div>
</section>

<section class="content">
	<div class="container">
		<div class="grid">
			<div class="row">
				<h2 class="heading">What we do</h2>
				<div class="grid">
					<p class="row description">We believe in the power of technology to change the world by enabling new ways for individuals and businesses to communicate, create and transact value.However, some old traditions, institutions and ideas are being carried over from the days before we invented the Internet.</p>
					<p class="row description">We empower creative people all over the world to build new software-based, global systems and communities, no matter where they live. We do this by driving technological innovation, open-source collaboration and great user experience design.</p>
				</div>
			</div>
			<div class="row grid">
				<div class="col">
					<h2 class="heading">How we work</h2>
					<p class="description">We’re focused on creating a collaborative work environment where people are happy and productive.</p>
					<p class="description">We don’t let geography or borders define us — we are a distributed team with members spread all over the world. We apply remote and organizational practices so you’ll always be in sync with the team.</p>
				</div>
				<div class="col">
					<img class="map" src="../images/map.svg"/>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="core-values">
	<div class="container">
		<h2 class="title">Our Core Values</h2>
		<div class="grid">
			<div class="row">
				<div class="col">
					<h3 class="heading">Ability to ship</h3>
					<p class="description">We take ownership of our responsibilities, set goals, and manage expectations to achieve them.</p>
				</div>
				<div class="col">
					<h3 class="heading">Intellectual curiosity</h3>
					<p class="description">We are driven by a passionate and constant desire to learn. We encourage a curious attitude toward the unknown and toward life in general.</p>
				</div>
				<div class="col">
					<h3 class="heading">Commitment to excellence</h3>
					<p class="description">We care a great deal about our work being of high quality. We want our products to be polished and our communication to be precise.</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h3 class="heading">Strong sense of purpose</h3>
					<p class="description">We care about the mission and work to positively impact the community. We think big and build with the long-term in mind.</p>
				</div>
				<div class="col">
					<h3 class="heading">Team spirit</h3>
					<p class="description">We trust and rely on other team members, while being mindful of our differences. We have honest and direct communication and contribute to each other’s success.</p>
				</div>
				<div class="col">
					<h3 class="heading">Healthy workstyle</h3>
					<p class="description">We are conscious of our individual work styles and achieve our goals calmly, while enjoying the journey.</p>
				</div>
			</div>
		</div>
	</div>
</section>





<section class="jobs-photos flex no-grow bg-grey bold">
  <img src="../images/photo_01.png">
  <img src="../images/photo_02.png">
  <img src="../images/photo_03.png">
  <img src="../images/photo_04.png">
</section>
<section class="row no-padding-bottom" id="remote-by-default">
  <div class="container">
    <div class="flex-box mobile-column conditions-box">
      <div class="remote-box">
        <div class="line"></div>
        <h3>Flexible schedules</h3>
        <p class="small">We focus on achievements, not working hours. Find the rhythm that works best for you.</p>
      </div>
      <div class="remote-box">
        <div class="line"></div>
        <h3>Flexible paid time off</h3>
        <p class="small">We believe in the importance of breaks to lead a balanced life. You decide when to take your vacations.</p>
      </div>
      <div class="remote-box">
        <div class="line"></div>
        <h3>Buenos Aires Office</h3>
        <p class="small">You’re welcome to work from our  office whenever you want. We’re pet friendly, have green spaces, healthy food, and yoga classes.</p>
      </div>
    </div>
  </div>
</section>
<section class="no-padding-bottom" id="openings">
  <div class="container centered">
    <h2 style="margin-bottom: 0;">Current openings</h2>
    <p class="small" style="margin-top: 5px;">Find the best place for you in Zeppelin</p>
  </div>
  <div class="container jobs-container">
    <div class="job-menu hide-on-small-only">
      <!-- <button class="location-btn">All locations</button> -->
      <button class="opening-btn active" id="all-positions-btn">All positions</button>
      <button class="opening-btn" id="engineering-btn">Engineering</button>
      <button class="opening-btn" id="communications-btn">Communications</button>
    </div>
    <div class="opening-box" style="width: 100%;" id="all-positions-box">
      {% for job in site.jobs %}
        <div class="job-card">
          <div>
            <h4>{{ job.location | slice: 0, 80 }}</h4>
            <h1><a href="{{ job.url }}">{{ job.title }}</a></h1>
          </div>
          <div>
            <a href="{{ job.url }}">
              <img src="../images/ic_arrow_right_blue.svg"/>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="hidden opening-box" style="width: 100%;" id="engineering-box">
      {% for job in site.jobs %}
       {% if job.tags contains 'engineering' %}
        <div class="job-card">
          <div>
            <h4>{{ job.location | slice: 0, 80 }}</h4>
            <h1><a href="{{ job.url }}">{{ job.title }}</a></h1>
          </div>
          <div>
            <a href="{{ job.url }}">
              <img src="../images/ic_arrow_right_blue.svg"/>
            </a>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="hidden opening-box" style="width: 100%;" id="communications-box">
      {% for job in site.jobs %}
       {% if job.tags contains 'communications' %}
        <div class="job-card">
          <div>
            <h4>{{ job.location | slice: 0, 80 }}</h4>
            <h1><a href="{{ job.url }}">{{ job.title }}</a></h1>
          </div>
          <div>
            <a href="{{ job.url }}">
              <img src="../images/ic_arrow_right_blue.svg"/>
            </a>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<section class="role" style="padding-top: 40px;">
  <div class="container centered">
    <h2 class="small" style="margin-bottom: 0;">Don’t see your role here?</h2>
    <p class="small" style="margin-top: 5px;">Send an email to <a href="mailto:jobs@zeppelin.solutions">jobs@zeppelin.solutions</a>.</p>
  </div>
</section>
<section class="grey hiring">
  <div class="container centered">
    <h2>Hiring process</h2>
    {% include hiring-process.html %}
  </div>
  <div class="container">
    <ul class="collapsible">
      <li>
        <h3 class="collapsible-header">How long does the hiring process take?</h3>
        <p class="collapsible-body small">It usually takes 4-6 weeks from the time you submit your application to an offer. The exact timing depends on matching your availability to schedule the work test. We try our best to ensure a swift process while also committing plenty of time to getting to know each other.</p>
      </li>
      <li>
        <h3 class="collapsible-header">Who will I be talking to during the hiring process?</h3>
        <p class="collapsible-body small">You’ll talk to our hiring manager, your prospective teammates, your assigned work test coach and one (or both) of the founders. Each candidate usually interacts with at least four Zeppelin members.</p>
      </li>
      <li>
        <h3 class="collapsible-header">What’s the work test like?</h3>
        <p class="collapsible-body small">The work test is a custom challenge guided by a coach from Zeppelin. You can think about it as an audition. Work tests should require an effort of roughly 10 hours per week, spanning no more than three weeks. Your time is paid regardless of the output.</p>
      </li>
      <li>
        <h3 class="collapsible-header">How can I contact Zeppelin if I have questions about my application?</h3>
        <p class="collapsible-body small">Please send us an email at jobs@zeppelin.solutions.</p>
      </li>
      <li>
        <h3 class="collapsible-header">I’ve applied in the past. Can I reapply?</h3>
        <p class="collapsible-body small">Yes! Our needs are constantly evolving. If you’d like to reapply for the same or a different position, feel free to do so.</p>
      </li>
      <li>
        <h3 class="collapsible-header">Does Zeppelin offer internship programs?</h3>
        <p class="collapsible-body small">At our current stage, we’re not ready to offer internship programs that would add value to both ends. If we ever offer internship programs, they’ll be up on our Jobs page.</p>
      </li>
      <li class="last-li">
        <h3 class="collapsible-header">Do you follow up with candidates you’ve decided not to move forward with?</h3>
        <p class="collapsible-body small">We try to make sure everyone is kept up-to-date with their application status. Whether we see a match or not, we will reach out to you within two weeks.</p>
      </li>
    </ul>
  </div>
  <div class="container centered">
    <br/>
    <br/>
    <a class="rounded-button empty-button btn-long" href="/jobs#openings">see openings</a>
  </div>
</section>

<style type="text/css">
  section.jobs {
    background-color: #F8F8FA;
  }

  .hero {
    height: 400px;
  }

  .hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hero .wrapper {
    max-width: 600px;
  }

  .hero .heading {
    text-align: center;
  }

  .hero .description {
    opacity: 0.8;
    font-size: 1rem;
    color: #282846;
    text-align: center;
    line-height: 28px;
    margin-bottom: 25px;
  }

  section.content {
    padding: 60px 0;
  }

  .content .heading {
    font-size: 1.8rem;
    opacity: 0.9;
    color: #282846;
    letter-spacing: 0;
    line-height: 40px;
    margin-bottom: 25px;
  }

  .content .description {
    opacity: 0.8;
    font-size: 1rem;
    color: #282846;
    letter-spacing: 0.54px;
    line-height: 24px;
    margin-bottom: 25px;
  }

	.content .map {
		min-height: 400px;
	}


	section.core-values {
		background: #F8F8FA;
	}


	.grid .col > .heading {
		opacity: 0.9;
		font-size: 1.2rem;
		color: #4e5ee4;
		line-height: 27px;
	}

	.grid .col > .description {
		opacity: 0.8;
		font-size: 1rem;
		color: #282846;
		letter-spacing: 0.54px;
		line-height: 24px;
	}










  .how-we-work h4, #values h4{
    opacity: 0.6;
  }
  #values h3 {
    opacity: 0.8;
    font-family: Helvetica;
    font-size: 20px;
    line-height: 1.25;
    color: #4a4a4a;
    text-align: left;
    margin-bottom: 0;
  }
  #values p {
    margin-top: 7px;
  }
  .value-box {
    padding: 15px 30px;
    width: 33%;
  }
  #values .flex-box {
    margin: 0 -30px!important;
  }
  .how-we-work {
    padding-bottom: 2.5rem;
  }
  .how-we-work-title {
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #4a4a4a;
    margin-top: 5px;
  }
  .role {
    min-height: auto;
  }
  .role h2 {
    margin-top: 0;
  }
  .no-padding-bottom {
    padding-bottom: 0;
  }
  .remote-box {
    background-color: #ffffff;
    box-shadow: 0 4px 10px 0 rgba(224, 224, 224, 0.5);
    text-align: center;
    padding: 30px 20px 20px 20px;
    margin: 15px;
    width: 300px;
    text-align: left;
  }
  .remote-box h3 {
    text-align: left;
  }
  .jobs-photos {
    display: flex;
    flex-wrap: nowrap;
    position: static !important;
    margin-bottom: -157px!important;
    padding-bottom: 0;
    justify-content: center;
    padding-top: 0;
  }
  .jobs-photos img {
    padding: 2px;
    max-height: 480px;
  }
  #remote-by-default .line {
    margin-top: 15px;
    width: 19px;
    height: 2px;
    opacity: 0.3;
    border: solid 1px #3c3c3c;
  }
  @media (max-width: 900px) {
    .how-we-work.true {
      padding-bottom: 25px;
    }
    .how-we-work.first img {
      margin-top: 20px;
    }
    #jobs .flex-box div {
      margin: 0 !important;
      width: 100%!important
    }
    #jobs .mobile-column {
      flex-direction: column;
    }
    #values h4 {
      margin-top: 0;
    }
    .value-box {
      width: 100%;
    }
    .jobs-photos {
      flex-wrap: wrap;
      align-items: center;
    }
    .jobs-photos img {
      width: 50%;
      height: auto;
    }
    #remote-by-default .flex-box {
      align-items: center !important;
    }
    .jobs-photos {
      margin-bottom: -107px!important;
    }
    .job-card {
      margin: 0 0 -1px 0 !important;
      padding: 1.5rem 0 !important;
      border-left-color: white !important;
      border-right-color: white !important;
      border-top: none !important;
      border-bottom: solid 2px #d5d5d5 !important;
    }
  }

  .jobs-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .job-menu {
    width: 223px;
    margin: 20px 0;
    padding-right: 20px;
  }
  .job-menu button {
    opacity: 0.6;
    font-family: Helvetica;
    font-size: 15px;
    line-height: 1.67;
    color: #3c3c3c;
    display: block;
    padding: 5px 10px;
    background: transparent;
    border: unset;
  }
  .job-menu button:hover {
    opacity: 1;
    font-weight: 500;
    color: #000000;
  }
  .job-menu button.location-btn {
    opacity: 1;
    font-weight: 500;
    color: #000000;
    border-bottom: solid 2px blacK;
    width: 100%;
    text-align: left;
    margin-left: 10px;
    padding-left: 0;
    margin-bottom: 10px;
  }

  .job-menu button.active {
    opacity: 1;
    font-weight: 500;
    color: #000000;
  }

  .job-card {
    background-color: #ffffff;
    border: solid 1px #d5d5d5;
    padding: 1.5rem 1.5rem;
    text-align: left;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .job-card h1 {
    margin: 0;
    line-height: 1;
  }
  .job-card h1 a {
    font-family: Helvetica;
    font-size: .6em;
    font-weight: 400;
    color: #4a4a4a;
  }
  .job-card h4 {
    text-align: left;
    color: #3c3c3c;
    margin: 0;
    opacity: 0.8;
    font-family: Helvetica;
    font-size: .75em;
    letter-spacing: 1.1px;
  }
  .how-we-work .flex div {
    width: 100%;
  }
  .how-we-work  img {
    padding-top: 1rem;
  }
  .last-li {
    border-bottom: solid 0px transparent!important;
  }
  .hiring .collapsible-body {
    margin-top: -16px;
    margin-bottom: 23px;
  }
  .conditions-box {
    max-width: 940px;
    margin: auto;
  }
</style>
