---
layout: default
---

<style type="text/css">
  .jobs-section {
    background-image: linear-gradient(290deg, #1e7dd7, #2b2dbf) !important;
    height: 50vh;
    border-bottom: solid 7px #2a38c2 !important;
  }
  .jobs-section #home a {
    border-radius: 100px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(203, 203, 203, 0.5);
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    color: #003ccb;
    padding: .75rem 2.5rem;
  }
  .how-we-work h4, #values h4{
    opacity: 0.6;
  }
  #values h3 {
    opacity: 0.8;
    font-family: Helvetica;
    font-size: 20px;
    line-height: 1.25;
    color: #4a4a4a;
    text-align: left;
    margin-bottom: 0;
  }
  #values p {
    margin-top: 7px;
  }
  .value-box {
    padding: 15px 30px;
    width: 33%;
  }
  #values .flex-box {
    margin: 0 -30px!important;
  }
  .how-we-work {
    padding-bottom: 2.5rem;
  }
  .how-we-work-title {
    opacity: 0.9;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #4a4a4a;
    margin-top: 5px;
  }
  .role {
    min-height: auto;
  }
  .role h2 {
    margin-top: 0;
  }
  .no-padding-bottom {
    padding-bottom: 0;
  }
  .remote-box {
    background-color: #ffffff;
    box-shadow: 0 4px 10px 0 rgba(224, 224, 224, 0.5);
    text-align: center;
    padding: 30px 20px 20px 20px;
    margin: 15px;
    width: 300px;
    text-align: left;
  }
  .remote-box h3 {
    text-align: left;
  }
  .jobs-photos {
    display: flex;
    flex-wrap: nowrap;
    position: static !important;
    margin-bottom: -157px!important;
    padding-bottom: 0;
    justify-content: center;
    padding-top: 0;
  }
  .jobs-photos img {
    padding: 2px;
    max-height: 480px;
  }
  #remote-by-default .line {
    margin-top: 15px;
    width: 19px;
    height: 2px;
    opacity: 0.3;
    border: solid 1px #3c3c3c;
  }
  @media (max-width: 900px) {
    .how-we-work.true {
      padding-bottom: 25px;
    }
    .how-we-work.first img {
      margin-top: 20px;
    }
    #jobs .flex-box div {
      margin: 0 !important;
      width: 100%!important
    }
    #jobs .mobile-column {
      flex-direction: column;
    }
    #values h4 {
      margin-top: 0;
    }
    .value-box {
      width: 100%;
    }
    .jobs-photos {
      flex-wrap: wrap;
      align-items: center;
    }
    .jobs-photos img {
      width: 50%;
      height: auto;
    }
    #remote-by-default .flex-box {
      align-items: center !important;
    }
    .jobs-photos {
      margin-bottom: -107px!important;
    }
    .job-card {
      margin: 0 0 -1px 0 !important;
      padding: 1.5rem 0 !important;
      border-left-color: white !important;
      border-right-color: white !important;
      border-top: none !important;
      border-bottom: solid 2px #d5d5d5 !important;
    }
  }
  .hero-background:before {
    background: url(/images/bg_triangle_jobs.svg);
  }
  .jobs-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .job-menu {
    width: 223px;
    margin: 20px 0;
    padding-right: 20px;
  }
  .job-menu button {
    opacity: 0.6;
    font-family: Helvetica;
    font-size: 15px;
    line-height: 1.67;
    color: #3c3c3c;
    display: block;
    padding: 5px 10px;
    background: transparent;
    border: unset;
  }
  .job-menu button:hover {
    opacity: 1;
    font-weight: 500;
    color: #000000;
  }
  .job-menu button.location-btn {
    opacity: 1;
    font-weight: 500;
    color: #000000;
    border-bottom: solid 2px blacK;
    width: 100%;
    text-align: left;
    margin-left: 10px;
    padding-left: 0;
    margin-bottom: 10px;
  }

  .job-menu button.active {
    opacity: 1;
    font-weight: 500;
    color: #000000;
  }

  .job-card {
    background-color: #ffffff;
    border: solid 1px #d5d5d5;
    padding: 1.5rem 1.5rem;
    text-align: left;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .job-card h1 {
    margin: 0;
    line-height: 1;
  }
  .job-card h1 a {
    font-family: Helvetica;
    font-size: .6em;
    font-weight: 400;
    color: #4a4a4a;
  }
  .job-card h4 {
    text-align: left;
    color: #3c3c3c;
    margin: 0;
    opacity: 0.8;
    font-family: Helvetica;
    font-size: .75em;
    letter-spacing: 1.1px;
  }
  .how-we-work .flex div {
    width: 100%;
  }
  .how-we-work  img {
    padding-top: 1rem;
  }
  .last-li {
    border-bottom: solid 0px transparent!important;
  }
  .hiring .collapsible-body {
    margin-top: -16px;
    margin-bottom: 23px;
  }
  .conditions-box {
    max-width: 940px;
    margin: auto;
  }
</style>

<section class="hero-background jobs-section" id="principal">
  {% include nav.html %}
  <section id="home" style="padding-bottom: 2rem;">
    <div class="row">
      <div class="container">
        <h1 class="home-title">Build the foundations of an open economy</h1>
        <p class="middle long">Zeppelin is looking for skillful developers and professionals who are committed to facilitating the creation of shared infrastructure to close the gap between our vision and the reality of how decentralized networks work today.</p>
        <br/><br/>
        <a href="/joinus#openings">SEE CURRENT OPENINGS</a>
      </div>
    </div>
  </section>
</section>
<section class="how-we-work first">
  <div class="container">
    <h4 class="left-align">WHAT WE DO</h4>
    <div class="flex mobile-column">
      <div>
        <p class="small shorter">We believe in the power of technology to change the world by enabling new ways for individuals and businesses to communicate, create and transact value.</p>
        <p class="small shorter">However, some old traditions, institutions and ideas are being carried over from the days before we invented the Internet.</p>
        <blockquote class="small shorter">We empower creative people all over the world to build new software-based, global systems and communities, no matter where they live. We do this by driving technological innovation, open-source collaboration and great user experience design.</blockquote>
      </div>
      <div class="flex">
        <img src="../images/jobs_build.svg"/>
      </div>
    </div>
  </div>
</section>
<section class="how-we-work grey true">
  <div class="container">
    <div class="row">
      <div class="col l6 m6 s12">
        <h4 class="left-align">How we work</h4>
        <p class="small shorter">We’re focused on creating a collaborative work environment where people are happy and productive.</p>
        <p class="small shorter">We don’t let geography or borders define us — we are a distributed team with members spread all over the world. We apply remote and organizational practices so you’ll always be in sync with the team.</p>
      </div>
      <div class="col l6 m6 s12 display-flex">
        <img src="../images/map.svg"/>
      </div>
    </div>
  </div>
</section>
<section id="values">
  <div class="container">
    <h4 class="left-align">OUR CORE VALUES</h4>
    <div class="flex-box mobile-column">
      <div class="value-box">
        <h4 class="left-align">/01</h4>
        <h3>Ability to ship</h3>
        <p class="small">We give teammates the autonomy they require to boldly take ownership over their creations.</p>
      </div>
      <div class="value-box">
        <h4 class="left-align">/02</h4>
        <h3>Intellectual curiosity</h3>
        <p class="small">We are driven by a fiery, constant desire to learn. We encourage teammates to experiment with the latest technologies and cryptanalysis techniques.</p>
      </div>
      <div class="value-box">
        <h4 class="left-align">/03</h4>
        <h3>Commitment to excellence</h3>
        <p class="small">We care a great deal about our work, pay attention to details, and never do less than our best.</p>
      </div>
    </div>
    <div class="flex-box mobile-column">
      <div class="value-box">
        <h4 class="left-align">/04</h4>
        <h3>Strong sense of purpose</h3>
        <p class="small">We care about the mission and work to positively impact the community. We think big and build with the long-term in mind.</p>
      </div>
      <div class="value-box">
        <h4 class="left-align">/05</h4>
        <h3>Thought leadership</h3>
        <p class="small">We think critically and discuss our ideas with the broader blockchain community to push the frontiers of innovation.</p>
      </div>
      <div class="value-box">
        <h4 class="left-align">/06</h4>
        <h3>Healthy workstyle</h3>
        <p class="small">We have lives outside work, are kind to each other and are always eager to help teammates.</p>
      </div>
    </div>
  </div>
</section>
<section class="jobs-photos">
  <img src="../images/photo_01.png">
  <img src="../images/photo_02.png">
  <img src="../images/photo_03.png">
  <img src="../images/photo_04.png">
</section>
<section class="row no-padding-bottom" id="remote-by-default">
  <div class="container">
    <div class="flex-box mobile-column conditions-box">
      <div class="remote-box">
        <div class="line"></div>
        <h3>Flexible schedules</h3>
        <p class="small">We focus on achievements, not working hours. Find the rhythm that works best for you.</p>
      </div>
      <div class="remote-box">
        <div class="line"></div>
        <h3>Flexible paid time off</h3>
        <p class="small">We believe in the importance of breaks to lead a balanced life. You decide when to take your vacations.</p>
      </div>
      <div class="remote-box">
        <div class="line"></div>
        <h3>Buenos Aires Office</h3>
        <p class="small">You’re welcome to work from our  office whenever you want. We’re pet friendly, have green spaces, healthy food, and yoga classes.</p>
      </div>
    </div>
  </div>
</section>
<section class="no-padding-bottom" id="openings">
  <div class="container centered">
    <h2 style="margin-bottom: 0;">Current openings</h2>
    <p class="small" style="margin-top: 5px;">Find the best place for you in Zeppelin</p>
  </div>
  <div class="container jobs-container">
    <div class="job-menu hide-on-small-only">
      <!-- <button class="location-btn">All locations</button> -->
      <button class="opening-btn active" id="all-positions-btn">All positions</button>
      <button class="opening-btn" id="operations-btn">Operations</button>
      <button class="opening-btn" id="international-btn">International</button>
      <button class="opening-btn" id="engineering-btn">Engineering</button>
      <button class="opening-btn" id="marketing-btn">Marketing</button>
    </div>
    <div class="opening-box" style="width: 100%;" id="all-positions-box">
      {% for job in site.jobs %}
        <div class="job-card">
          <div>
            <h4>{{ job.location | slice: 0, 80 }}</h4>
            <h1><a href="{{ job.url | absolute_url }}">{{ job.title }}</a></h1>
          </div>
          <div>
            <a href="{{ job.url | absolute_url }}">
              <img src="../images/ic_arrow_right_blue.svg"/>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="hidden opening-box" style="width: 100%;" id="engineering-box">
      {% for job in site.jobs %}
       {% if job.tags contains 'engineering' %}
        <div class="job-card">
          <div>
            <h4>{{ job.location | slice: 0, 80 }}</h4>
            <h1><a href="{{ job.url | absolute_url }}">{{ job.title }}</a></h1>
          </div>
          <div>
            <a href="{{ job.url | absolute_url }}">
              <img src="../images/ic_arrow_right_blue.svg"/>
            </a>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="hidden opening-box" style="width: 100%;" id="international-box">
      {% for job in site.jobs %}
       {% if job.tags contains 'international' %}
        <div class="job-card">
          <div>
            <h4>{{ job.location | slice: 0, 80 }}</h4>
            <h1><a href="{{ job.url | absolute_url }}">{{ job.title }}</a></h1>
          </div>
          <div>
            <a href="{{ job.url | absolute_url }}">
              <img src="../images/ic_arrow_right_blue.svg"/>
            </a>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="hidden opening-box" style="width: 100%;" id="marketing-box">
      {% for job in site.jobs %}
       {% if job.tags contains 'marketing' %}
        <div class="job-card">
          <div>
            <h4>{{ job.location | slice: 0, 80 }}</h4>
            <h1><a href="{{ job.url | absolute_url }}">{{ job.title }}</a></h1>
          </div>
          <div>
            <a href="{{ job.url | absolute_url }}">
              <img src="../images/ic_arrow_right_blue.svg"/>
            </a>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="hidden opening-box" style="width: 100%;" id="operations-box">
      {% for job in site.jobs %}
       {% if job.tags contains 'operations' %}
        <div class="job-card">
          <div>
            <h4>{{ job.location | slice: 0, 80 }}</h4>
            <h1><a href="{{ job.url | absolute_url }}">{{ job.title }}</a></h1>
          </div>
          <div>
            <a href="{{ job.url | absolute_url }}">
              <img src="../images/ic_arrow_right_blue.svg"/>
            </a>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<section class="role" style="padding-top: 40px;">
  <div class="container centered">
    <h2 class="small" style="margin-bottom: 0;">Don’t see your role here?</h2>
    <p class="small" style="margin-top: 5px;">Send an email to <a href="mailto:jobs@zeppelin.solutions">jobs@zeppelin.solutions</a>.</p>
  </div>
</section>
<section class="grey hiring">
  <div class="container centered">
    <h2>Hiring process</h2>
    {% include hiring-process.html %}
  </div>
  <div class="container">
    <ul class="collapsible">
      <li>
        <h3 class="collapsible-header">How long does the hiring process take?</h3>
        <p class="collapsible-body small">It usually takes 4-6 weeks from the time you submit your application to an offer. The exact timing depends on matching your availability to schedule the work test. We try our best to ensure a swift process while also committing plenty of time to getting to know each other.</p>
      </li>
      <li>
        <h3 class="collapsible-header">Who will I be talking to during the hiring process?</h3>
        <p class="collapsible-body small">You’ll talk to our hiring manager, your prospective teammates, your assigned work test coach and one (or both) of the founders. Each candidate usually interacts with at least four Zeppelin members.</p>
      </li>
      <li>
        <h3 class="collapsible-header">What’s the work test like?</h3>
        <p class="collapsible-body small">The work test is a custom challenge guided by a coach from Zeppelin. You can think about it as an audition. Work tests should require an effort of roughly 10 hours per week, spanning no more than three weeks. Your time is paid regardless of the output.</p>
      </li>
      <li>
        <h3 class="collapsible-header">How can I contact Zeppelin if I have questions about my application?</h3>
        <p class="collapsible-body small">Please send us an email at jobs@zeppelin.solutions.</p>
      </li>
      <li>
        <h3 class="collapsible-header">I’ve applied in the past. Can I reapply?</h3>
        <p class="collapsible-body small">Yes! Our needs are constantly evolving. If you’d like to reapply for the same or a different position, feel free to do so.</p>
      </li>
      <li>
        <h3 class="collapsible-header">Does Zeppelin offer internship programs?</h3>
        <p class="collapsible-body small">At our current stage, we’re not ready to offer internship programs that would add value to both ends. If we ever offer internship programs, they’ll be up on our Jobs page.</p>
      </li>
      <li class="last-li">
        <h3 class="collapsible-header">Do you follow up with candidates you’ve decided not to move forward with?</h3>
        <p class="collapsible-body small">We try to make sure everyone is kept up-to-date with their application status. Whether we see a match or not, we will reach out to you within two weeks.</p>
      </li>
    </ul>
  </div>
</section>
