---
layout: default
---
<style type="text/css">

</style>
{% include new-nav.html %}

<main class="page-landing">

	<section class="section landing-hero">
		<div class="hero">
			<div class="container">
				<div class="wrapper">
					<h1 class="heading fIu">The standard for secure decentralized systems</h1>
					<p class="description fIu">
						Zeppelin builds tools for the secure development, deployment and operation of decentralized systems. We also help companies secure their systems by performing security audits.
					</p>
				</div>
			</div>
		</div>
	</section>

<section class="section">
	<div class="container">
	  <div class="container">
    <h4>THE WORLD’S LEADING PROJECTS TRUST ZEPPELIN</h4>
  </div>
  <div class="logos-container">
    {% include partners-landing.html %}
  </div>
</section>

{% include landing-challenges.html %}

<section class="section blueprint">
  <div class="container">
    <h2>Your blueprint for decentralized systems</h2>
    <p class="small short">Reduce the barriers of entry to securely implement blockchain-based technologies, using standard developer tools and platforms.</p>
    {% include product-card.html %}
  </div>
</section>

<section class="section standards">
	<div class="container">
      <h4>We set ever-higher standards for the industry</h4>
      <div class="flex xs-column">
        <div class="standard-box">
          <p class="standard-title">$1.5+ Billion</p>
          <p class="middle">economy of digital assets powered by our tools</p>
        </div>
        <div class="standard-box">
          <p class="standard-title">$600+ Million</p>
          <p class="middle">collected by projects using our audited systems</p>
        </div>
      </div>


  <div class="quote row" id="leading-projects">
    <div class="container centered">
      {% include landing-quote.html %}
    </div>
    <div class="quote-grey"></div>
  </div>
	  </div>
</section>

<section class="depth grey">
  <div class="container request-audit-container xs-column">
    <div class="img-box hide-on-med-and-up">
      <img src="../images/badge_audit.svg"/>
    </div>
    <div class="xs-centered">
      <h2>In-depth system security audits</h2>
      <p class="middle-grey short opacity80">In an economy where software code powers real money, security is a top priority. We specialize in auditing high-impact decentralized systems.</br></p>
      </br>
      <a class="rounded-button empty-button btn-long" href="/security-audits/">learn more about audits</a>
    </div>
    <div class="img-box hide-on-small-only">
      <img src="../images/badge_audit.svg"/>
    </div>
  </div>
</section>
