---
layout: default
---
<style type="text/css">
  .gray {
    background-color: #f6f6f7;
  }
  .standards {
    background-image: linear-gradient(106deg, #0a0a0a, #282828);
    margin: 70px 0;
  }
  .standards h4 {
    color: white;
  }
  .standard-box {
    margin: 70px 49px 0 49px;
  }
  @media (max-width: 900px) {
    .standard-box { margin: 70px 0 0 0;}
  }
  
  .standards .standard-title {
    font-family: Helvetica;
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    color: #ffffff;
    margin: 0;
  }
  .standards .middle {
    font-size: 16px;
    text-align: center;
    line-height: 1;
  }
  .depth a {
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 40px;
    box-shadow: 0 4px 5px 0 rgba(203, 203, 203, 0.3);
    border: solid 1px #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: #3c3c3c;
    padding: 6px 15px;
  }
  .depth a:hover {
    box-shadow: 0 6px 10px 0 rgba(224, 224, 224, 0.8);
  }
</style>

{% include hiring-nav.html %}
<section id="principal">
  {% include nav.html %}
  <section id="home">
    <div class="row">
      <div class="container">
        <h1 class="home-title">Open infrastructure for an open economy</h1>
        <p class="middle short">Zeppelin creates systems, tools and protocols to promote global economic freedom. We also provide security services to aid the community in growing on solid foundations.</p>
      </div>
    </div>
  </section>
</section>
{% include landing-challenges.html %}
<section class="blueprint grey">
  <div class="container">
    <h2>Your blueprint for decentralized systems</h2>
    <p class="small short">We are focused on setting standards and building open-source technology to close the gap between our vision and the reality of how decentralized networks work today.</p>
  </div>
</section>
<section class="standards">
  <div class="container">
    <h4>We set ever-higher standards for the industry</h4>
    <div class="flex xs-column">
      <div class="standard-box">
        <p class="standard-title">$4.5+ Billion</p>
        <p class="middle">in digital assets powered by our contracts</p>
      </div>
      <div class="standard-box">
        <p class="standard-title">$600+ Million</p>
        <p class="middle">raised through our audited systems</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h4>THE WORLD’S LEADING PROJECTS TRUST ZEPPELIN</h4>
  </div>
  {% include partners.html %}
</section>
<section class="gray depth">
  <div class="container">
    <div class="xs-centered">
      <h2 class="small">In-depth system security audits</h2>
      <p class="small short">In an economy where software code powers real money, security is a top priority. We specialize in auditing high-impact smart contract systems.</p>
      </br>
      <a>learn more about audits</a>
    </div>
    <div></div>
  </div>
</section>