---
layout: default
---
<style type="text/css">
	.l-projects .sub-heading {
		margin-bottom: 60px;
	}

	.l-projects .projects-grid {
		margin-top: 20px;
		margin-bottom: 111px;
		padding: 0rem;
	}

	.l-projects .projects-grid .row {
		justify-content: space-between;
		max-width: 980px;
		margin: 0 auto;
		flex-direction: row;
		justify-items: center;
		align-items: center;
	}

	.l-projects .projects-grid .item {
		height: 54px;
		text-align: center;
		border-radius: 6px;
		overflow: hidden;
		min-width: 100px;
	}

	.l-projects .projects-grid .item img {
		width: 100%;
		vertical-align: middle;
		object-fit: scale-down;
    object-position: 50% 50%;
    height: 100%;
		flex: 1;
		width: 80%;
	}

	.l-projects .projects-grid .item:last-child {
		margin-right: 0;
	}

	.l-projects .heading {
		margin: 60px 0;
		text-align: center;
	}

	.l-hero-quote .container {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-items: center;
		align-items: center;
	}

	section.section.l-hero-quote .quote {
		padding: 80px 0;
	}

	section.section.l-hero-quote {
		padding-bottom: 100px;
	}

	.l-hero-quote .quote {
		font-family: Silka;
		font-size: 1.5rem;
		color: #FFFFFF;
		letter-spacing: 0;
		text-align: center;
		line-height: 32px;
		max-width: 600px;
	}

	.l-hero-quote .quote .quote-description {
		margin-bottom: 30px;
		font-size: 1.39rem;
		max-width: 530px;
		margin: 0 auto;
	}

	.l-hero-quote .quote .quote-footer {
		display: flex;
		height: 48px;
		align-items: center;
    margin-top: 20px;
	}

	.l-hero-quote .quote .quote-footer .quote-author {
		margin-left: 20px;
		opacity: 0.8;
		font-family: Helvetica;
		font-size: 0.98rem;
		color: #FFFFFF;
		letter-spacing: 0.54px;
		line-height: initial;
	}

	.l-hero-quote .quote .quote-footer figure, .l-hero-quote .quote .quote-footer img {
		height: 100%;
		border-radius: 4px;
	}

	.l-blueprint .section-header .description {
		font-size: 1.0625rem;
	}

	.l-cta .main-box {
		margin-top: -190px;
		display: flex;
    justify-content: center;
    align-items: center;
	}

	.l-cta .section-header {
		margin: 90px 0 55px;
	}

	.l-cta .section-header .description {
		max-width: 500px;
	}

	.l-cta .main-box .box-heading {
		font-size: 26px;
		margin-bottom: 10px;
	}

	.l-cta .box .box-wrapper {
		max-width: 775px;
		display: flex;
    justify-items: center;
    align-items: center;
		text-align: center;
		flex-direction: column-reverse;
	}

	.l-cta .box .box-side {
		text-align: center;
		display: flex;
    justify-content: center;
    align-items: center;
		margin-bottom: 50px;
	}

	.l-cta .main-box .box-description {
		max-width: 700px;
	}

	.l-cta .building-grid .row {
		justify-content: space-between;
	}

	.l-cta .building-grid .box {
		height: 210px;
		position: relative;
		max-width: 310px;
	}

	.l-cta .building-grid .box:hover .box-heading {
		color: #4e5ee4;
	}

	.l-cta .building-grid .box:hover .placed-icon #icon {
		fill: #4e5ee4;
	}

	.l-cta .building-grid .box:hover .placed-icon {
		opacity: 1;
	}

	.l-cta .building-grid .box .placed-icon {
		position: absolute;
    right: 33px;
    top: 33px;
		opacity: 0.4;
		transition: all 0.25s linear;
	}

	@media (min-width: 900px) {
		.l-projects .projects-grid .item {
			margin-right: 54px;
		}

		.l-cta .main-box .box-description {
			padding-right: 117px;
		}

		.l-cta .box .box-wrapper {
			flex-direction: row;
			text-align: left;
		}

		.l-cta .box .box-side {
			margin-bottom: 0px;
		}

		.l-hero-quote .quote .quote-footer .quote-author {
			font-size: 1rem;
		}
	}

</style>

<main class="page page-landing">
	<section class="l-hero section hero section--gray">
		<div class="container">
			<div class="wrapper">
				<h1 class="heading fIu">Professional development platform for decentralized applications</h1>
				<p class="description fIu">
					OpenZeppelin helps developers write, deploy, and operate decentralized systems.
					We also help leading organizations secure their systems by performing security audits.
				</p>
			</div>
		</div>
	</section>
	<section class="section l-projects">
		<div class="container">
			<h6 class="sub-heading">The world’s leading projects trust OpenZeppelin</h6>
			<div class="grid projects-grid">
				<div class="row">
					<div class="col item a-scale">
						<img src="../images/logos/brave-logotype-dark.svg">
					</div>
					<div class="col item a-scale">
						<img src="../images/logos/augur.svg">
					</div>
					<div class="col item a-scale">
						<img src="../images/logos/ethereum.svg">
					</div>
					<div class="col item a-scale">
						<img src="../images/logos/coinbase.svg">
					</div>
					<div class="col item a-scale">
						<img src="../images/logos/Dfinity.svg">
					</div>
					<div class="col item a-scale">
						<img class="bitgo" src="../images/logos/BitGo_Color_Large.svg">
					</div>
				</div>
			</div>
			<h2 class="heading">The challenges of building decentralized applications</h2>
			<div class="grid">
				<div class="row">
					<div class="col box box--primary">
						<div class="box-container">
							<h4 class="box-heading">Security</h4>
							<p class="box-description">
								Economies in which software powers real money are exposed to hacks and attacks.
							</p>
						</div>
					</div>
					<div class="col box box--primary">
						<div class="box-container">
							<h4 class="box-heading">Developer Experience</h4>
							<p class="box-description">
								Lack of proper development and testing tools increases margin of errors exponentially.
							</p>
						</div>
					</div>
					<div class="col box box--primary">
						<div class="box-container">
							<h4 class="box-heading">Operations</h4>
							<p class="box-description">
								It’s difficult to manage and fix problems in decentralized systems once they're deployed.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section l-blueprint section section--gray section--cutted">
		<div class="container">
			<div class="section-header">
				<h2 class="heading">Your blueprint for decentralized systems</h2>
				<p class="description">Reduce barriers to entry by securely implementing blockchain-based technologies, using standard developer tools and platforms.</p>
			</div>
			{% include projects-grid.html %}
		</div>
		<div class="fake-bg fake-bg--violet"></div>
	</section>
	<section class="l-hero-quote section section--violet">
		<div class="container">
			<blockquote class="quote center">
				<p class="quote-description">“I have a very high opinion of the OpenZeppelin team and their work”</p>
				<footer class="quote-footer">
					<figure>
						<img class="img" src="../images/brendan.jpg" alt="Brendan Eich">
					</figure>
					<span class="quote-author">
						<strong>Brendan Eich </strong> |  <cite>Founder of Mozilla and Brave, Javascript creator.</cite>
					<span>
				</footer>
			</blockquote>
		</div>
	</section>
	<section class="section l-cta section--gray">
		<div class="container">
			<div class="main-box box box--secondary">
				<div class="box-wrapper">
				<div class="box-main">
					<h2 class="box-heading">In-depth security audits</h2>
					<p class="box-description">
					In an economy where software code powers real money, security is a top priority.
					We specialize in auditing high-impact decentralized systems.
					</p>
					<a href="/security-audits" class="btn btn--bordered btn--fixed">
						Learn More
					</a>
				</div>
				<div class="box-side">
					<svg width="77px" height="96px" viewBox="0 0 77 96" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="Zeppelin-Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<g id="Homepage_V1" transform="translate(-1008.000000, -2314.000000)" fill="#4E5EE4">
											<g id="Group-9" transform="translate(244.000000, 2217.000000)">
													<path d="M837.15,97 L802.5,100.830933 L767.85,97 L767.85,109.48 L802.5,113.310933 L837.15,109.48 L837.15,97 Z M802.5,125.790933 L767.85,121.96 L764,173.8 L802.5,193 L841,173.8 L837.15,121.96 L802.5,125.790933 Z" id="Fill-16"></path>
											</g>
									</g>
							</g>
					</svg>
				</div>
				</div>
			</div>
			<div class="section-header">
				<h2 class="heading">Start building</h2>
				<p class="description">
					Check out our resources for beginner and experienced
					smart contracts and blockchain developers
				</p>
			</div>
			<div class="grid building-grid">
				<div class="row row--fixed">
					<a class="col box box--secondary a-scale" href="http://docs.openzeppelin.com">
						<span class="placed-icon">
							<svg width="20px" height="24px" viewBox="0 0 20 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<g id="Card-community" transform="translate(-253.000000, -43.000000)" fill="#282846">
													<g id="icon" transform="translate(251.000000, 43.000000)">
															<path d="M22,15.5 L14,23.5 L2,23.5 L2,0.5 L22,0.5 L22,15.5 Z M14,21.5 L20,15.5 L14,15.5 L14,21.5 Z" id="Combined-Shape" transform="translate(12.000000, 12.000000) scale(1, -1) translate(-12.000000, -12.000000) "></path>
													</g>
											</g>
									</g>
							</svg>
						</span>
						<h3 class="box-heading">Docs</h3>
						<p class="box-description">
							Learn everything you need to develop blockchain applications through a complete set of guides and tutorials
						</p>
					</a>
					<a class="col box box--secondary a-scale" href="http://forum.openzeppelin.com">
						<span class="placed-icon">
							<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<g id="icon" fill="#282846" fill-rule="nonzero">
													<path d="M12,6.39488462e-14 C18.627408,6.39488462e-14 24,5.36186826 24,11.9760479 L24,11.9760958 C24,18.5902754 18.627408,23.9521437 12,23.9521437 L0,23.9521437 L0,11.9760479 C0,5.36186826 5.372544,6.39488462e-14 11.999952,6.39488462e-14 L12,6.39488462e-14 Z M5.568,10.5953533 L18.528,10.5953533 L18.528,6.85882635 L5.568,6.85882635 L5.568,10.5953533 Z M5.568,17.1264192 L14.928,17.1264192 L14.928,13.3898922 L5.568,13.3898922 L5.568,17.1264192 Z" id="Fill-1"></path>
											</g>
									</g>
							</svg>
						</span>
						<h3 class="box-heading">Forum</h3>
						<p class="box-description">Connect with experts, beginners and enthusiasts and discuss about blockchain development, security, design patterns and best practices.</p>
					</a>
					<a class="col box box--secondary a-scale" href="http://ethernaut.openzeppelin.com">
						<span class="placed-icon">
							<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<g id="icon" fill="#282846">
													<polygon id="Triangle" transform="translate(12.000000, 12.000000) rotate(90.000000) translate(-12.000000, -12.000000) " points="12 0 24 24 0 24"></polygon>
											</g>
									</g>
							</svg>
						</span>
						<h3 class="box-heading">Ethernaut</h3>
						<p class="box-description">
							A Web3/Solidity based wargame played in Ethereum where each level is a smart contract that needs to be hacked.
						</p>
					</a>
				</div>
			</div>
		</div>
	</section>
</main>

<script src="/js/fixedMenu.js"></script>
