---
layout: default
---

<style type="text/css">
	.page-product .p-logo#sdk-logo > img {
		margin-left: -31px;
	}
	.page-sdk .c-hero .description {
		max-width: 770px;
	}

	.section__bg {
    position: absolute;
		width: 100%;
		height: 0;
		padding: 0;
		padding-bottom: calc(100% * 3 / 4);
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
		background-position: top center;
	}

	.page-sdk .term-container {
    height: 430px;
	}

	.page-sdk .term-container .term__menu-list {
		display: flex;
    flex-direction: row;
	}

	.page-sdk .term-container .term__menu-list {
		display: flex;
    flex-direction: row;
		justify-content: center;
		padding: 25px 0;
	}

	.page-sdk .term-container .term__menu-list .term__menu-list__item {
		margin-right: 34px;
	}

	.page-sdk .term-container .term__menu-list .term__menu-list__item:last-child {
		margin-right: 0;
	}

	.page-sdk .term-container .term__menu-list .term__menu-list__link {
		text-transform: uppercase;
		opacity: 0.6;
		font-size: 1rem;
		color: #3C3C57;
		letter-spacing: 0.5px;
		font-weight: bold;
		font-family: Menlo, sans-serif;
		cursor: pointer;
	}

	.page-sdk .term-container .term__menu-list .term__menu-list__link.term__menu-list__link--active, .page-sdk .term-container .term__menu-list .term__menu-list__link:hover {
		color: #4e5ee4;
	}

	@media (min-width: 900px) {
		.page-sdk .term-container {
			margin-top: 45px;
		}

		.section__bg {
			background-size: contain;
		}
	}

</style>

<main class="page page-sdk page-product">
	<nav class="p-nav p-nav--white" id="new-sub-nav">
		<div class="container">
			<div class="p-logo" id="sdk-logo">
				<img src="/images/sdk.svg" width="134px" height="28px" alt="">
			</div>
			<ul class="p-menu">
				<li class="item">
					<a href="#">Docs</a>
				</li>
				<li class="item">
					<a href=" https://github.com/openzeppelin/openzeppelin-contracts" target="_blank">Github</a>
				</li>
				<li class="item">
					<a href="https://forum.openzeppelin.com">Community Forum</a>
				</li>
			</ul>
		</div>
	</nav>
	<section class="section hero c-hero section--cutted">
		<div class="section__bg" style="background-image:url('/images/bg/bg_sdk.svg')">
		</div>
		<div class="container">
			<h1 class="heading">The Ultimate Smart Contract Toolkit</h1>
			<p class="description">OpenZeppelin SDK makes smart contract development easy. Save hours of development time by compiling, upgrading, and deploying smart contracts with our CLI.</p>
			<a href="https://github.com/openzeppelin/openzeppelin-contracts" class="btn cta">Get Starter</a>
		</div>
		<div class="container term-container">
			<section class="terminal-section p-animated" id="terminal-section">
				<div class="terminal terminal-up" id="terminal-sdk">
					<div class="wrap">
						<div class="type-wrap"></div>
					</div>
					<div class="top-terminal">
						<span class="terminal-control red"></span>
						<span class="terminal-control yellow"></span>
						<span class="terminal-control green"></span>
						<div class="terminal-title" id="bash-title">bash</div>
					</div>
					<div class="bottom-terminal " id="terminal-bottom"></div>
				</div>
			</section>
			<nav class="term__menu">
				<ul class="term__menu-list">
					<li class="term__menu-list__item">
						<a class="term__menu-list__link" data-anim-name="f2">create</a>
					</li>
					<li class="term__menu-list__item">
						<a class="term__menu-list__link" data-anim-name="f3">send-tx</a>
					</li>
					<li class="term__menu-list__item">
						<a class="term__menu-list__link" data-anim-name="f5">upgrade</a>
					</li>
					<li class="term__menu-list__item">
						<a class="term__menu-list__link" data-anim-name="f4">call</a>
					</li>
				</ul>
			</nav>
		</div>
	</section>
	<section class="c-explained">
		<div class="container">
			<h2 class="heading">
				No more time spent configuring and plugging many tools together. OpenZeppelin SDK is your Swiss Army knife for smart contract development
			</h2>
			<div class="grid">
				<div class="row">
					<div class="box">
						<div class="icon">
							<svg width="32px" height="69px" viewBox="0 0 32 69" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
									<desc>Created with Sketch.</desc>
									<defs></defs>
									<g id="OZ-desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<g id="Subsite_SDK_full_V1-Copy-4" transform="translate(-213.000000, -1001.000000)">
													<g id="Group-8" transform="translate(0.000000, 888.000000)">
															<g id="Group-2" transform="translate(0.000000, 113.000000)">
																	<g id="ic_sdk_1" transform="translate(213.000000, 0.238194)">
																			<polyline id="Stroke-1" stroke="#3C3C57" stroke-width="2.8" points="15.6426 20.0922 29.7756 27.9982 29.7756 65.6822 4.7466 51.5332 4.7466 6.8312"></polyline>
																			<polygon id="Fill-3" fill="#3C3C57" points="4.7475 -0.0002 0.0005 8.2208 9.4935 8.2208"></polygon>
																	</g>
															</g>
													</g>
											</g>
									</g>
							</svg>
						</div>
						<h3 class="box-heading">Upgrade your contracts</h3>
						<div class="box-description">
							<p class="description">
								By leveraging our proxy pattern, you can develop your smart contracts iteratively. Locally, it speeds up your development. On production, it makes it easier to squash bugs and extend your functionality.
							</p>
							<a href="https://github.com/openzeppelin/openzeppelin-contracts" class="link">
								UPGRADE DRIVEN DEVELOPMENT <i class="material-icons">keyboard_arrow_right</i>
							</a>
						</div>
					</div>
					<div class="box">
						<div class="icon">
							<svg width="49px" height="49px" viewBox="0 0 49 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<g id="Zeppelin-Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<g id="Subsite_Contracts_full" transform="translate(-576.000000, -998.000000)" stroke="#282846" stroke-width="2.8">
													<g id="modular" transform="translate(578.000000, 1000.000000)">
															<polygon id="Shape" points="19.1944565 11.4192391 6.39782609 11.4192391 0 22.5009783 6.39782609 33.5807609 19.1944565 33.5807609 25.5903261 22.5009783"></polygon>
															<polygon id="Shape" points="38.6041304 22.5009783 45 11.4192391 38.6041304 0.3375 25.8075 0.3375 19.4096739 11.4192391 25.8075 22.5009783"></polygon>
															<polygon id="Shape" points="25.8075 22.5009783 19.4096739 33.5807609 25.8075 44.6625 38.6041304 44.6625 45 33.5807609 38.6041304 22.5009783"></polygon>
													</g>
											</g>
									</g>
							</svg>
						</div>
						<h3 class="box-heading">Interactive commands</h3>
						<div class="box-description">
							<p class="description">
							Need to call a smart contract function? We've got you covered. Need to send some ether? Just type a quick command. Our interactive commands help you call and debug your smart contracts.
							</p>
							<a href="https://github.com/openzeppelin/openzeppelin-contracts" class="link">
								SEE THEM IN ACTION <i class="material-icons">keyboard_arrow_right</i>
							</a>
						</div>
					</div>
					<div class="box">
						<div class="icon">
							<svg width="49px" height="49px" viewBox="0 0 49 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
									<desc>Created with Sketch.</desc>
									<defs></defs>
									<g id="OZ-desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<g id="Subsite_SDK_full_V1-Copy-4" transform="translate(-947.000000, -1018.000000)">
													<g id="Group-8" transform="translate(0.000000, 888.000000)">
															<g id="Group-2" transform="translate(0.000000, 113.000000)">
																	<g id="ic_sdk_3" transform="translate(947.000000, 17.238194)">
																			<path d="M-2.79420931e-12,48.3209 L2.457,39.1529 L9.169,45.8649 L-2.79420931e-12,48.3209 Z M48.321,-0.000100000001 L45.865,9.1689 L39.152,2.4569 L48.321,-0.000100000001 Z M0.000900000002,-0.000100000001 L9.1689,2.4569 L2.4569,9.1689 L0.000900000002,-0.000100000001 Z M39.1518,45.8648 L45.8648,39.1528 L48.3218,48.3208 L39.1518,45.8648 Z" id="Combined-Shape" fill="#3C3C57"></path>
																			<path d="M19.4372,28.8844 L4.8312,43.4904 L19.4372,28.8844 Z M43.4909,4.8307 L28.8849,19.4367 L43.4909,4.8307 Z M19.4372,19.4371 L4.8312,4.8311 L19.4372,19.4371 Z M43.4909,43.4908 L28.8849,28.8848 L43.4909,43.4908 Z" id="Combined-Shape" stroke="#3C3C57" stroke-width="2.8"></path>
																	</g>
															</g>
													</g>
											</g>
									</g>
							</svg>
						</div>
						<h3 class="box-heading">Modularity first</h3>
						<div class="box-description">
							<p class="description">
								Want to create a React dapp? Just type a command. Need to upgrade your contract? There's a command for that. Want to reserve predetermined addresses with CREATE2? We've got that too.
							</p>
							<a href="https://forum.openzeppelin.com" class="link">
								SHOW ME HOW <i class="material-icons">keyboard_arrow_right</i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="c-projects">
		<div class="container">
			<div class="heading">
				The leading organizations trust OpenZeppelin
			</div>
			<div class="grid-logos">
				<div class="grid-logos__row">
					<span class="grid-logos__col">
						<img class="grid-logos__logo" src="../images/new-logos/centrifuge.svg" />
					</span>
					<span class="grid-logos__col">
						<img class="grid-logos__logo" src="../images/new-logos/dyxy.svg" />
					</span>
					<span class="grid-logos__col">
						<img class="grid-logos__logo" src="../images/new-logos/centre.svg" />
					</span>
					<span class="grid-logos__col">
						<img class="grid-logos__logo" src="../images/new-logos/numerai.svg" />
					</span>
				</div>
			</div>
		</div>
	</section>
	<section class="c-what-else">
		<div class="container">
			<div class="heading">
				What else can you do with openzeppelin
			</div>
			<div class="grid">
				<div class="row">
					{% include contracts-card.html %}
					{% include starter-card.html %}
				</div>
			</div>
		</div>
	</section>
	<section class="c-join hero">
		<div class="container">
			<h2 class="heading">Join our community</h2>
			<p class="description">
				Ask questions to our community, learn about security and become familiar with smart contract development.
			</p>
			<a class="btn cta" href="https://forum.openzeppelin.com">
				Go to the forum
			</a>
		</div>
	</section>
</main>

<script src="/js/typed.min.js"></script>
<script src="/js/fixedSubMenu.js"></script>
<script src="/js/console-sdk.js"></script>
